[2020-04-21 13:24] b-g commented on #162
Closed. No bug on our side. It is a bug in the Unicode spec :) cc @felixhaeberle

See for detials https://github.com/milesj/emojibase/issues/50#issuecomment-613779331

[2020-04-21 13:24] #162 closed

[2020-04-21 14:13] b-g commented on #154
Hi @kriskowal,

Finally had time to unwrap your gift #156! Very nice!!

Comments:

- We are on node 8.x, hence I had to add a shim. Please check my edit. The line looks quite unreadable now. Could you unpack this particular line? https://github.com/hfg-gmuend/openmoji/blob/buildsystem-with-cache/helpers/lib/export-svg-color.js#L27
- Would it not be better to move helpers/export-svg-skintones.sh, h

[2020-04-21 18:13] kriskowal commented on #154
I’ve posted a tiny amendment. Instead of adding an external dependency on an Object.fromEntries shim all its transitive dependencies, I elected to reframe the lines with fromEntries as a more readable loop, instead of the functional form. The functional composition stuff you can do in newer JS versions is nice, but not worth taking on a dependency for. I would go so far as to suggest removing the

[2020-04-22 11:23] b-g commented on #125
https://twitter.com/JennehKotlah/status/1252741973255094272

![EWKgSGaX0AEtpKC](https://user-images.githubusercontent.com/480224/79976114-686d9c80-849c-11ea-87e9-de2fac714a7e.jpg)

----------
![EWKgSGhX0AIn7aN](https://user-images.githubusercontent.com/480224/79976124-6d325080-849c-11ea-9c6a-6b7731a006ba.png)

[2020-04-22 13:51] carlinmack commented on #125
https://www.reddit.com/r/playmygame/comments/fvpv8b/the_vaccinator_game_to_play_while_quarantined/

[2020-04-24 04:12] carlinmack opened #191 "require() openmoji?"
I was looking at the [npm repository](https://www.npmjs.com/package/openmoji) for this project and there's a button to ["Try on RunKit"](https://npm.runkit.com/openmoji). This opens an environment with the dependency already installed for devs to try out. It says that it can't automatically import anything as there is no index.js. Should we make this file? What would this enable? @kriskowal would

[2020-04-24 06:04] kriskowal commented on #191
I did not realize that openmoji was published to npm in any capacity. I’m
sure some JavaScript interface might be contrived, but I don’t have an
inkling what it might be.

I presumed that the package.json in openmoji was “private” and used only to
set up an environment for openmoji’s own tooling.

My own project is not written in JavaScript. At the moment, it’s sufficient
to periodically use git t

[2020-04-24 06:29] b-g commented on #191
We use the OpenMoji npm package to update the OpenMoji Website https://github.com/hfg-gmuend/openmoji-website. We use a `postinstall` hook to copy the assets to the right spots?

https://github.com/hfg-gmuend/openmoji-website/blob/master/package.json#L11

So I guess from my perspective this is already working. Currently an `index.js` couldn't import anything ... as there is nothing javascript base

[2020-04-24 12:42] dnlutz commented on #93
I would suggest to scale the OpenMoji by factor 1.3
The Y-position is perfect in relation to the baseline.
<img width="930" alt="color_font_scaling" src="https://user-images.githubusercontent.com/38292227/80213627-bff53f00-8639-11ea-8cb8-b2d7c42da465.png">

[2020-04-24 13:59] carlinmack commented on #191
If we're talking spritesheets, @axelpale would an openmoji npm package help with #170 ?

[2020-04-24 16:11] carlinmack commented on #93
Looks good!

We should highlight where the baseline is in openmoji-template.svg

[2020-04-24 17:12] axelpale commented on #191
@carlinmack Thanks for tagging me. I have thought about this because the current entry-less npm package made it unnecessary difficult to access the valuable data inside the package. The data and files can be accessed with something like:

    const emojis = require('../node_modules/openmoji/data/openmoji.json)

However this feels hacky and is prone to errors if the directory structure changes.

Th

[2020-04-24 18:05] carlinmack commented on #191
If you would like to design the API, I'd be happy to follow your lead on this!

[2020-04-24 21:07] Ryuno-Ki commented on #170
Chiming in here, as [I asked on Twitter](https://twitter.com/AndreJaenisch/status/1253588505147645953) whether you would accept PRs.

My use case is using @axelpale's generator, but creating the color directory myself (instead of downloading it with wget).
So far, I only saw SVGs, which the generator can't handle.

I'd create a PR to edit the README.md on how to generate those files (in either rep

[2020-04-24 22:54] carlinmack commented on #170
I think it would be best to add your information to axelpale's repo and we'll add a link to axelpale's repo to the [Downloads & Distribution Channels](https://github.com/hfg-gmuend/openmoji#downloads--distribution-channels) section of the README. I think that makes the most sense :)

The groups and subgroups are primarily supplied through Unicode, but we could provide an openmoji interface to them

[2020-04-24 23:02] carlinmack commented on #170
replying to @axelpale:

I can't promise but maybe there would be scope for us to maintain subgroups if these are well defined and distinct from the unicode ones. We should also think about if we would want to include emojis from extra-openmoji. There are some emoji here which would be useful, but any project that used them would have to recognise that they can't switch to another emoji set as they

[2020-04-25 07:42] b-g commented on #191
Yes. Good proposal.

Small detail: the property names of the image/svg path should be prefixed with "openmoji_" e.g. `openmoji_svg_file` or `openmoji_svg_path` or `openmoji_path_svg` etc. Currently the logic is, that everything which is not prefixed is coming directly from unicode.

[2020-04-25 08:30] fuddl opened #192 "OS logos"
## Draft

![Logos Android, Apple, Ubuntu, Windows](https://user-images.githubusercontent.com/842548/80275052-1ff1f100-86df-11ea-94dd-f1b66bd3b4c2.png)

## Mapping

I propose to map those to the following codepoints within the PUA because they are already used by the respective vendors.

Char | Code | Description
-----|-------|-----------
   | `F000` | Windows
   | `E0FF`  | Ubuntu
    | `F8FF`

[2020-04-25 09:00] fuddl opened #193 "⏺ vs. ☉"
Currently the `⏺`-Character looks very similar the [astronomical symbol for sun: `☉`](https://en.wikipedia.org/wiki/Astronomical_symbols#Symbols_for_the_Sun_and_Moon)

There is also overlap with various other shapes `⦿`, `⦾`, `⊙`, `⊚`, `◉` but with `⏺` the solution might be easy:
[why don't we make the inner dot red?](https://www.google.com/search?q=record+button&client=firefox-b-d&source=lnms&tbm

[2020-04-25 09:38] axelpale commented on #191
Thank you! Being part in the designing the node API is an honour.

@b-g Good detail! I will follow that. I think `openmoji_svg_path` is the best choice, because also e.g. the property `skintone_base_hexcode` positions the data type part the last in its name.

Is there any possibly valuable data in the repository that is not included in `openmoji.json`? I have to ask because the relationships betwe

[2020-04-25 14:22] carlinmack commented on #192
looks great! please adjust the 'leaf' of the apple logo as shown in the image
![image](https://user-images.githubusercontent.com/6676843/80282243-6c88fc80-86de-11ea-8823-e4ab7a1c8e9d.png)

also could you move the leaf up by a pixel or so to make more space

[2020-04-25 14:23] carlinmack commented on #193
sure! please keep the black inner dot and add the red dot in the `color-foreground` group

[2020-04-25 15:52] fuddl commented on #192
Looks weirdly close. Any idea how to solve this?

![](https://user-images.githubusercontent.com/842548/80284208-5babab80-871d-11ea-878b-2eead5ef8c45.png)

[2020-04-25 15:55] carlinmack commented on #192
from my previous message:

👍

[2020-04-25 16:08] fuddl commented on #192
![](https://user-images.githubusercontent.com/842548/80284560-a3cbcd80-871f-11ea-85c0-33b98ba4e0ee.png)

[2020-04-25 16:19] carlinmack commented on #192
great! yeah it's a pain :(

[2020-04-25 17:50] #193 closed

[2020-04-26 07:58] fuddl commented on #192
@carlinmack may I add my own figma cleanup script?

[2020-04-26 12:20] fuddl opened #196 "cleaning up figma files"
![figma-export](https://user-images.githubusercontent.com/842548/80307052-12179b00-87c7-11ea-9393-9b21ed80c000.png)

When using these settings in the current version of [Figma](https://www.figma.com/) (_Figma Desktop App release 85_) the following updates need to be performed:

[code]

after that `<svg>` needs the `emoji` id and the standard svgo treatment. Can we integrate something like this int

[2020-04-26 13:23] carlinmack commented on #196
wow this sounds and looks great! I'll defer to @b-g for this :)

[2020-04-27 06:27] b-g commented on #192
Looks super! Really nice!

[2020-04-27 06:30] b-g commented on #192
@fuddl Offtopic: We ask all the contributors to add a portrait / social media links to https://openmoji.org/about/#team (not a must, just a nice tradition ... a "no" is fine too). If you want you could do this via PR on https://github.com/hfg-gmuend/openmoji-website (see about/index.html)

[2020-04-27 06:37] b-g commented on #191
Great + many thanks!

Comments:
- Please not another version tag to maintain :)
- Could we deduce the "top level" property names by the filenames in /data?
- OK to `openmoji_svg_path`but keep in mind that we have black and color ... so `openmoji_color_svg_path` or `openmoji_path_color_svg`?

[code]

[2020-04-27 16:15] fuddl commented on #192
@b-g thank you. feed free to review #197 😁

I'll gladly add myself once I have the time

[2020-04-27 18:01] fuddl opened #199 "Esperanto flag mapping"
I just realized that the character mapping I chose for #194 (a flag the represents a non-existent nation) might not be appropriate. I chose it based on the Esperanto Flag ([`1F1EA-1F1F4`](https://raw.githubusercontent.com/hfg-gmuend/openmoji/master/src/extras-unicode/subdivision-flag/1F1EA-1F1F4.svg)) which is also inappropriate and here is why:

It is a seqence consisting of the codepoints:

Code

[2020-04-27 18:43] carlinmack commented on #180
Added in 248f281c702dca0ddbc483c2a4d92da58047ffd9 :D Feel free to use any of the assets there in your project before they are officially released :)

[2020-04-27 18:52] #180 closed

[2020-04-27 19:01] carlinmack commented on #199
I was aware that Esperanto is not a region, but as there is [no assignment for EO](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Decoding_table) and EO is the [Esperanto language code](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) I decided that there wouldn't be a problem to assign it to that code.

Nevertheless I agree that it would be better for it to fit the pattern of the other no

[2020-04-27 19:10] carlinmack commented on #199
Oh looking at the Tags Wiki article I see the justification of the cancel tag.

The only place this is currently used in Unicode is for subdivisions like the [Scottish flag](https://emojipedia.org/flag-scotland/).  I feel like this would signal that Esperanto and the UFP are subdivisions of something, which isn't true.

I would prefer if we change the format of these codepoints to the following:

[2020-04-27 19:23] carlinmack commented on #199
Current - 1F1EA-1F1F4 - 🇪🇴
Flag with regional letters - 1F3F3-FE0F-200D-1F1EA-1F1F4 - 🏳️‍🇪🇴
Flag with tag latin letters - 1F3F3-FE0F-200D-E0065-E006F - 🏳️‍󠁥󠁯
Subdivision flag - 1F3F4-E0065-E006F-E007F - 🏴󠁥󠁯󠁿

This is how the different options render, I think we should go with one of the last two options but can be persuaded :)

[2020-04-27 19:57] fuddl commented on #199
I don't think the tags are meant exclusively for subdivisions. But what do I know. 😅

[2020-04-27 21:51] carlinmack commented on #199
Yeah I'm not sure that there's an explicit rule that they can only be used for subdivisions, but as of now the only code points to use them are subdivisions https://emojipedia.org/search/?q=E007F

[2020-04-28 11:31] axelpale commented on #191
@b-g Thanks for the critical comments. These will ensure the quality of the result.

I feel the pain of maintaining the version tags manually. Fortunately, the tag can be easily read from package.json and exported with `const pjson = require('package.json'); exports.version = pjson.version;`. The benefits of having the tag generally include the ease of debugging and building for backward compatibi

[2020-04-28 15:04] b-g commented on #191
Hi @axelpale! Many thanks for the thoughts and comments! OK :)

[code]

Comments
- please no webp post install hook. The buildsystem part is really heavy and rendering the entire openmojis on post install to webp would take ages
- and still not convinced about `openmoji.openmoji` vs `openmoji.emojis`. What about a compromise to `openmoji.openmojis`(note the 's')?

[2020-04-28 15:34] axelpale commented on #191
@carlinmack Could you help us out here? What do you think the list of openmoji-flavoured emoji data should be called? This is a tiny but important detail! :D

[2020-04-28 22:07] inferno986return commented on #112
Already asked Unigram (the Windows 10 client) if it could be included as there several packs available already: https://github.com/UnigramDev/Unigram/issues/1392

I think outreach is important

[2020-04-28 22:15] carlinmack commented on #112
Outreach is very important, however I only really have time now for improving the emojis so that we can put our strongest foot forward. After the release of OpenMoji 13.0 I'll start conversations with developers.

Another platform that hasn't been mentioned but I'd like to see support in is Signal

[2020-04-29 15:04] b-g commented on #154
@kriskowal Finally merged! :) Added some documentation and tweaked the font generator script. Yay! Really super great to have this in place now! Many many thanks for this gift! 🙏!!

[2020-04-29 15:04] #154 closed

[2020-04-29 18:28] b-g commented on #125
<img width="697" alt="Screenshot 2020-04-29 at 20 26 40" src="https://user-images.githubusercontent.com/480224/80632572-c16aa100-8a57-11ea-8a24-461cc7d12c01.png">

<img width="695" alt="Screenshot 2020-04-29 at 20 27 29" src="https://user-images.githubusercontent.com/480224/80632696-e7904100-8a57-11ea-8454-63212f3e80e8.png">

https://www.youtube.com/watch?v=weZmR5l9htk

[2020-04-29 18:28] carlinmack commented on #125
:o thats crazy haha

[2020-04-30 06:57] b-g commented on #196
Hi @fuddl, Sorry for the slow response ... very busy here. Yes, it would be great to be more inclusive and have Figma as editor documented too! Many thanks for this!

Comments:

- svg attribute x, y, width, height is cover with svgo now too https://github.com/hfg-gmuend/openmoji/commit/06fd2c51542ce0a1e8c8904964b1ee9f94b263e2
- happy to include something like prettyfy-figma-svg.js in `helpers` fol

[2020-04-30 21:52] carlinmack commented on #191
sorry for the delay in getting to this,

I think that to an external developer openmoji.emojis makes a lot more sense, however "openmojis" is a good compromise. @b-g isn't the file structure kinda derived from Unicode anyway? Or what do you mean by this?

[2020-05-01 11:53] b-g commented on #191
@carlinmack thanks for the vote!
@axelpale OK? :)

Yes the file structure and basically everything in `openmoji.json` is derived from the Unicode spec (pulled via a dependency to [emojibase](https://github.com/milesj/emojibase)) ... we just enhanced a few OpenMoji related things like the Author etc.

PS. Would be super to include this in the next release. As we have already a lot improvements and

[2020-05-01 12:34] fuddl commented on #199
@b-g i think this thread should be tagged [discussion](https://github.com/hfg-gmuend/openmoji/issues?q=is%3Aissue+is%3Aopen+label%3Adiscussion) rather then _enhancement_ yet 🙂

@carlinmack I asked a few questions on stack overflow concerning that issue and I got interesting answers:

1. [using regional indicators for a language flag is indeed inappropriate](https://stackoverflow.com/a/61535265/586

[2020-05-01 14:53] fuddl opened #203 "Remapping "openmoji-extras" with Zero-Width-Joiners"
[As I learned today:](https://github.com/hfg-gmuend/openmoji/issues/199#issuecomment-622370115) any two emoji may be combined into a single glyph using the [zwj character](https://emojipedia.org/zero-width-joiner/).

This scheme may be advantageous for many _openmoji extras_ that are currently in the PUA: Recepients of openmoji, that don't have the openmoji font installed will see, at least an app

[2020-05-01 15:35] carlinmack commented on #199
wow outstanding job! I wouldn't have thought and I'm always too scared to post on stackoverflow haha

I think that's a great plan! and we should coordinate on #203

[2020-05-01 15:38] carlinmack commented on #203
yes great idea, I hadn't thought of this!

I'm going to edit your comment later to have all of the extra-openmojis and we can start trying to create ZWJ sequences for them. I guess any that don't have any natural corresponding ZWJ sequences can be kept as what they currently are.

[2020-05-01 15:59] axelpale commented on #191
@b-g Okay, `openmojis` shall it be. :) Unicode itself [speaks about](https://unicode.org/Public/emoji/12.0/) `emoji-data` but data can be anything so... quite vague. Openmojis is good.

Works for me. I cannot promise much because man has to feed himself too... but with the current minimalistic schema I guess the mid of May is doable. I predict a bit uncertainty on Windows-compatibility because we

[2020-05-01 17:26] carlinmack commented on #203
btw for reference here are all the current ZWJ sequences (note some of these, like the olympic rings, are non-standard) https://emojipedia.org/emoji-zwj-sequence/

[2020-05-01 18:08] carlinmack commented on #199
I think we should do 🏳️‍🟩‍⭐ instead of 🏳️‍⭐‍🟩 as it is a flag-that's-green-with-a-star, rather than a flag-with-a-star-that's-green. Does that make sense?

[2020-05-01 19:07] fuddl commented on #199
Well, my reasoning was it is a flag with a green Star since [the green star is in in itself a symbol for Esperanto](https://simple.m.wikipedia.org/wiki/Esperanto_symbols)

Btw that should be also an emoji 😅

[2020-05-01 19:23] carlinmack commented on #199
![image](https://user-images.githubusercontent.com/6676843/80834887-a1ee8800-8bbf-11ea-9885-54a8c6c69c05.png)
If the flag looked like this I would agree

[2020-05-01 19:54] axelpale commented on #191
**A challenge** for us: currently the PNGs are unavailable via the npm package. The rules in `.npmignore` cause this.

We have at least three options how to proceed:
1. we do not release paths to PNGs via npm.
1. we generate the PNGs (and PDFs!) as a postinstall hook.
1. we publish the PNGs into the npm package.

**The third option** fails because there seems to be a practical limit for the size o

[2020-05-01 20:16] fuddl commented on #199
I support that's a problem with the zwj approach: not everyone has the same line of thinking when constructing those. 🤷‍♂️

I don't insist on mine. Do as you wish

[2020-05-01 20:20] carlinmack commented on #199
Make a PR with the file name `1f3f3-fe0f-200d-1f7e9-200d-2b50-200d-1f7e9` :)

[2020-05-02 03:14] carlinmack opened #205 "duplicate emojis"
In creating ZWJ sequences, I've realised we have some duplicates. Listing them here for record

![image](https://user-images.githubusercontent.com/6676843/80853674-8d7eaf80-8c00-11ea-90ca-bf3dc1c382ac.png)
![image](https://user-images.githubusercontent.com/6676843/80855029-6da0b900-8c0b-11ea-827d-20743d386e1d.png)
![image](https://user-images.githubusercontent.com/6676843/80853680-953e5400-8c00-11

[2020-05-02 06:52] fuddl commented on #203
![mice](https://user-images.githubusercontent.com/842548/80857394-1540da00-8c52-11ea-8f3d-0c11ff377d8b.png)

[2020-05-02 06:54] fuddl commented on #205
![mice](https://user-images.githubusercontent.com/842548/80857441-83859c80-8c52-11ea-8ecd-c012bf6965df.png)

[2020-05-02 07:34] fuddl commented on #203
I'd strongly suggest to keep company logos in the PUA since that is what the PUA is ment for.

[2020-05-02 09:34] b-g commented on #203
Wow! Very nice idea! Just ... it will be quite some effort to rename everything and the colorfont build process expects that every emoji which is part of such a sequences exists (as a seperate hexcode.svg). So ideally we just use the ones which we actually have in the OpenMoji lib ... but I guess that should mostly be already the case.

[2020-05-02 10:00] b-g commented on #191
Many thanks for this! Yes I think currently svg only is the best way forward. Problem is

- that we have additional dependencies to generate the pngs which can't be resolved via npm, see https://github.com/hfg-gmuend/openmoji/tree/master/helpers#additional-dependencies
- that building the png files is a very heavy CPU task. It takes really a long time (~20 min) even on my Macbook Pro.
- shipping t

[2020-05-02 10:56] fuddl commented on #199
sure

[2020-05-02 14:02] carlinmack commented on #203
I'm expecting that we just rename the emojis in extras-openmoji/xxx/Exxx.svg to extras-openmoji/xxx/<new-zwj-code-point>.svg and if a dev uses our extra emoji they at least will render legibly on other platforms.

@fuddl if the logos have codepoints already on their platforms, like the OS logos, I think they should be kept there. Otherwise why not give them a zwj sequence? I feel like the PUA code

[2020-05-02 14:05] #199 closed

[2020-05-03 10:55] OMGShay commented on #124
Flags to add:

1. Sark
2. Brecqhou
3. Abkhazia
4. Sark
5. Savoy
6. Seborga
7. Aboriginal flag
8. Northern Ireland
9. Yugoslavia
10. Isle of Scilly
11. Isle of Wight
12. Herm
13. Hebrides
14. West Hebrides
15. Somaliland
16. San Juan
17. Rodrigues
18. Midway Atoll
19. Johnston Atoll
20. Anjouan
21. Scotland (royal)
22. Nevis

[2020-05-03 14:12] carlinmack commented on #124
@OMGShay could you cite where you got this list from?

[2020-05-03 15:27] carlinmack opened #207 "silence successful tests"
I was wondering if it would be possible to have it so that only negative tests are logged?

It's currently a pain to scroll down the tests in github to find what failed, and I reckon that it slows our testing down to have a print for every test

[2020-05-04 06:11] b-g commented on #205
@dnlutz Might there be a way to use Unicode modifiers to express alternatives (like it is done in OpenType fonts)?

[2020-05-04 08:20] fuddl commented on #205
There are fonts with _alternative forms_ for certain letters. But I have no idea how this works.

[2020-05-04 10:19] OMGShay commented on #124
Here are all the flags. If you want to get them, here is the link: Animated gifs flags the Nations of the world

|
|
|
|  |  |

 |

 |
|
|  |
Animated gifs flags the Nations of the world

 |

 |

 |

Best regards,
Shay Ebanks McDonald
    On Sunday, 3 May 2020, 15:12:20 BST, Carlin MacKenzie <notifications@github.com> wrote:

@OMGShay could you cite where you got this list from?

—
You are receivi

[2020-05-04 11:25] b-g commented on #124
Hi @OMGShay! We are not planning to add flags which are not part of Unicode Emoji 13. Also flags like "Yugoslavia" are tricky for historical reasons. I believe we should not support them at all. But you are welcome to contribute non-controversial ones.

[2020-05-04 11:40] b-g commented on #176
Closing this. I think it is clear enough / no fast way to improve this. Please re-open if anyone wants to continue discussion :)

[2020-05-04 11:40] #176 closed

[2020-05-04 12:11] b-g commented on #207
Good call! Yes I quickly had a look at https://mochajs.org/#reporters:

**progress**
<img width="711" alt="Screenshot 2020-05-04 at 14 01 31" src="https://user-images.githubusercontent.com/480224/80964171-aeb5ea80-8e10-11ea-8646-ff1bfd3d85ab.png">

**min**
<img width="711" alt="Screenshot 2020-05-04 at 14 04 58" src="https://user-images.githubusercontent.com/480224/80964186-b37a9e80-8e10-11ea-97ff

[2020-05-04 12:17] b-g commented on #207
And for npm run test-dev to the "min" reporter.

[2020-05-04 12:18] #207 closed

[2020-05-04 13:53] carlinmack commented on #207
wow great news! thanks

[2020-05-04 15:35] dnlutz commented on #203
I like the idea, and there are many nice details in you list!
But I'm skeptical if the additional effort will pay off. When we add custom ZWJ sequences then we will have two different sortings for our extras (and most of them will remain in the PUA).
Of course the PUA is not ideal, but once these emoji get official Code Points then we will move them to the Unicode Range (where they may become a ZW

[2020-05-04 15:40] dnlutz commented on #205
For the fonts it could work with OpenType Stylistic Sets:
https://glyphsapp.com/tutorials/stylistic-sets
https://ilovetypography.com/OpenType/opentype-features.html
But the question remains how / wether we should keep the duplicates as different svgs in the library.

[2020-05-04 15:50] carlinmack commented on #203
What kind of extra work?

[2020-05-04 15:54] dnlutz commented on #203
Re-sorting and rearranging. Or is it just for the fonts?
Will the twitter bird stay within "extras > brand"?

[2020-05-04 15:58] carlinmack commented on #203
all the extra emojis stay in extras, they just go from EXXX which is renders as  to [standard emoji]-200D-[standard-emoji] which renders similar to 🐱‍💻

[2020-05-04 15:58] carlinmack commented on #203
Also it's unlikely that any of these will get official code points, lots of our extras are very esoteric. You can view a list of the more common things that people have tried to propose here http://randomguy32.de/unicode/misc/rejected-emoji-proposals/

[2020-05-04 16:07] carlinmack commented on #203
Also the sequences themselves are up for debate. Thinking about it now, it would suggest that twitter owns the "blue bird" emoji and if someone were to propose Blue Jay as an OpenMoji we would need to find another way to represent it

[2020-05-05 06:56] b-g commented on #93
Done. Scaled up by 1.3.

**Scale 1 / Scale 1**
<img width="618" alt="Screenshot 2020-05-05 at 08 20 18" src="https://user-images.githubusercontent.com/480224/81041439-25ed8c00-8eae-11ea-973b-308c143c01af.png">

**Scale 1.3 / Scale 1**
<img width="754" alt="Screenshot 2020-05-05 at 08 35 22" src="https://user-images.githubusercontent.com/480224/81041442-27b74f80-8eae-11ea-99d0-ecbe7c3f752f.png">

*

[2020-05-05 15:10] fuddl commented on #203
Exactly my point. I wouldn't want this sequence wasted for a company that may or may not exist in ten years from now and that even might choose to change their logo to an uppercase T in a circle.

[2020-05-05 15:24] carlinmack commented on #203
I mean we are not Unicode — the sequences we assign may change and it's unlikely that it will break anything. If someone was like 🐦🟦, I could probably figure out from context that they meant Twitter, even if our code point for Twitter's logo was now ➕🔵 or something.

[2020-05-05 16:06] carlinmack commented on #205
I agree the question remains, to put myself out there I would suggest the following:

* I would make Shot the Syringe emoji, but make it the size of the current Syringe
* I like both the Plaster and Adhesive Bandage designs, but the size of Adhesive Bandage is better.
* I'd like to know why we have the Stencils before making a call here
* I think the hats are cute, not sure which design I perfer.

[2020-05-05 16:17] carlinmack opened #209 "swapping 72x72 to SVG after load"
Currently on https://hfg-gmuend.github.io/openmoji/ we load 72x72 sprites for performance reasons, @felixhaeberle could you advise if we could have progressive enhancement to load SVGs after the 72x72 have been loaded?

[2020-05-05 16:54] carlinmack commented on #192
closing this issue as it's been added in a6c1cddfdcd305442c4ec0ca76f8e92365280b1f, but @fuddl remember about your portrait :)

[2020-05-05 16:54] #192 closed

[2020-05-05 19:39] TheConfuZzledDude commented on #203
I think this is definitely something I'd like to see for some of the more symbolic emoji combinations, not so much for corporate logos, which should probably just stay in the PUA. I think just generally, adding a lot of these symbols, especially for the ones which are possibly Unicode proposals can go a long way to allowing them to be used, which gives a lot of credence to those proposals, while b

[2020-05-06 04:25] carlinmack opened #210 "redraw with correct strokes"
I'm busy centring the alphanum block and I realised that four of them use the wrong stroke endings. They aren't simple paths so need to be redrawn. I've done one for now

 Status | codepoint| image
----------------------------|---------
✔         | 1f202 | ![flood](https://raw.githubusercontent.com/hfg-gmuend/openmoji/master/color/svg/1F202.svg)
❌  | 1f523 | ![exhaust gases car](https://raw.github

[2020-05-06 06:21] b-g commented on #205
ok for me.

This is coming from the guemil project and we just took it. Would leave it to stay compatible with them.

Would leave it as well, as useful in intercultural terms. Countries have different "visual clues" to represent nurse vs. doctor.

Yes ... but keep in mind that 2611 refers to a check box used in an interface which IMO different than ✅.

For the ✅: I would find it better to contain

[2020-05-06 07:51] dnlutz commented on #203
O.k. … if the emoji retain their sort order in the OpenMoji extra subcategories then I think the ZWJ thing would be a good idea. But we really have to define consistent and very comprehensible rules that are as waterproof as a legal text ; )

[2020-05-06 07:53] dnlutz commented on #93
Tip top / thank you! These emoji sizes now work much better within "normal" text fonts.

[2020-05-06 16:43] carlinmack commented on #205
are you saying the first two bullet points are okay? unclear if you missed them out or not

![image](https://user-images.githubusercontent.com/6676843/81204194-e9498f80-8f96-11ea-9545-351a25e48854.png)
I thought that other platforms had consistent cross/tick icons but it appears not
![image](https://user-images.githubusercontent.com/6676843/81204203-eb135300-8f96-11ea-8d80-0f17c09ce4b4.png)

[2020-05-07 06:35] b-g commented on #205
@carlinmack

OK

OK

Many thanks for the overview! Yes totally agree! Good call!

[2020-05-07 08:10] loominade opened #211 "Generic shapes + colors"
Could these combinations be generated automatically? Like it's done with skin tones?

Color →<br/>Shape ↓ |🟥 | 🟦 | 🟧 | 🟨 | 🟩 | 🟪 | 🟫  | ⬛
------:|:-:|:--:|:--:|:--:|:--:|:--:|:--:|:--:
⭐️       | Red Star | Blue Star | Orange Star | ? | Green Star | Purple Star | Brown Star | ★?
🏳️        | Red Flag | Blue Flag | Orange Flag | Yellow Flag | Green Flag | Purple Flag | Brown Flag | 🏴?
🏴        | Dar

[2020-05-07 11:47] b-g commented on #211
Yes ... possible. But as this seems to be special case it is probably quicker just to do it manually :) Also we are not so keen to add even more complexity (for relative little gain) to the just recently re-written build system. Sorry!

But you totally could write such a generator on your own and generate the emojis ... and we could then include them under extras-openmoji :)

[2020-05-07 13:41] loominade commented on #211
But what are the rules for that? Not all cases are as easy as
🏳️ + 🟥 = RED FLAG

The Black Hexagon is already black, what should if thise are combined?
⬢ + ⬛ = ?

The white star is officially white but usually depicted as yellow. What if it combined with yellow:
⭐️ + 🟨 = ?

I'd propose these combinations should be regarded as invalid.

[2020-05-07 14:58] carlinmack commented on #211
I would assume the script would just change the fill colour to the colour provided, and so it wouldn't change.

I think it would be a neat challenge to write such a script, if I had the time for it

what type of script where you imagining?

[2020-05-07 15:17] HaasJona commented on #211
No, "white" doesn't mean that. See https://emojipedia.org/glossary/#white. The star should be yellow (or even better: gold) by default.

[2020-05-07 15:25] loominade commented on #211
Lets say we changed the [White Star](https://github.com/hfg-gmuend/openmoji/blob/master/src/travel-places/sky-weather/2B50.svg) like this:

[code]
The [color pallette](https://github.com/hfg-gmuend/openmoji/blob/master/data/color-palette.json) could should be grouped:
[code]

A build script could assume that since that element has a fill of `#FCEA2B` and the class `class="token-color"` that the Gl

[2020-05-07 15:40] carlinmack commented on #211
I don't even think you need to add a class, just put the ones you want to transform into a folder and have it output to another folder (and append the `extras-openmoji.csv` information to a file)

[2020-05-07 15:47] loominade commented on #211
The class would make sense in cases where emoji contain multiple colors from different schemes.

Lets say you want to use the police car:
![police car](https://raw.githubusercontent.com/hfg-gmuend/openmoji/master/color/svg/1F693.svg)

but in your country police card are green. So you'd writer `🚓🟩`. the green should only apply to the blue stripe, not the the yellow headlight. So we'd only add the `

[2020-05-07 15:51] carlinmack commented on #211
I didn't realise that you meant glyphs that had more than one fill - the issue is named "generic shapes". The complexity of this is extraordinary and would imply thousands of new glyphs which is unfeasible to support.

Also I would say "`🚓🟩` should be a green police car?" This opens up debate on the colouring of thousands of emoji, which isn't worth is as people generally don't care about the colo

[2020-05-07 15:55] loominade commented on #211
So far I only propose generic shapes, but a good solution should be extensible to more complicated cases.

[2020-05-07 15:55] carlinmack commented on #211
Surely only if those more complicated cases are feasible?

[2020-05-07 15:56] carlinmack commented on #211
I would be hesitant to apply this sort of colour mapping to anything greater than a generic shape. Yes I'm sure people would use grey/white cat and dog emojis, but what about green cat/dog? what about different colours of elephant? I think we should assess the value of these glyphs by how much they are likely to be used

[2020-05-07 15:57] carlinmack commented on #211
sorry I pressed close and comment rather than deleting my message 😅

[2020-05-07 16:28] carlinmack commented on #211
I think the heart of the matter is:

- there are lots of edge cases like you mention
- every OpenMoji goes through manual review before being added

So a script that generates 100? 1000? +? new glyphs creates a lot of new work for us in terms of discussion and tweaking, for relatively little gain

Additionally, people don't type ZWJ sequences —  it would be bad UX to have people guess which sequen

[2020-05-07 17:40] fuddl commented on #211
@carlinmack: Would you approve if someone manually added flag+colour combinations?

[2020-05-07 17:41] carlinmack commented on #211
yep! you can still script it if you want :)

[2020-05-08 12:14] in2Rafi opened #213 "How to credit in YouTube description?"
Hi, I want to use Openmoji emojis in my YouTube video description. I see you have mentioned one can use Openmoji and give credit like this..

All emojis designed by [OpenMoji](https://openmoji.org/) – the open-source emoji and icon project. License: [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/#).

Since YouTube doesn't support anchor texts I can't write the credit according to yo

[2020-05-08 13:50] b-g commented on #213
Hi @in2Rafi!

You could add into the video description underneath and/or at the end of video ...

Yes ... see  https://github.com/hfg-gmuend/openmoji/blob/master/FAQ.md

Good luck with the project!

[2020-05-08 13:50] #213 closed

[2020-05-08 22:46] in2Rafi commented on #213
Hi, I think you didn’t understand my first question! I meant YouTube description section doesn’t support anchor text. I mean I can’t wrap a link using the Openemoji or CC by- SA 4.0 texts. In these cases how can I link back to your given links?

[2020-05-08 22:51] felixhaeberle commented on #209
Yes that would be cool. Looking into it! 🤟

[2020-05-09 17:48] OMGShay commented on #124
You idiot!

Sent from my iPad

[2020-05-11 08:27] #211 closed

[2020-05-11 11:22] b-g commented on #213
YouTube description text (underneath video player):

or

(plain text is fine too)

[2020-05-11 12:50] #191 closed

[2020-05-11 13:05] in2Rafi commented on #213
Fantastic. Many Thanks B-g. May Allah bless you...

[2020-05-11 14:26] in2Rafi opened #215 "How To Use Openmoji on YouTube Description?"
Hi, I have installed .ttf file and now just a bit confused! Actually I don't know how can I use the emojis in the video description. Do I need to copy special emoji code and paste in YouTube description? If so where will I get the codes? Can you please help me?

[2020-05-11 15:16] b-g commented on #215
Just paste in the credit text (without any emojis). Use the OpenMoji images e.g. png files in your video. Hope that works for you. Good luck with the project!

[2020-05-11 15:16] #215 closed

[2020-05-11 16:03] in2Rafi commented on #215
Hi b-g. Not sure why I'm failing to explain! I mean how can I use emojis? In this page...
https://openmoji.org/library/
I see emojis are with codes. But to use emojis I need to copy codes from this page again and again. Instead can you give me a pdf file or something like this to save on my local hard disk? Then to use emoji everytime I don't need to browse this library page.
Thanks and much appre

[2020-05-11 16:06] carlinmack opened #216 "OpenMoji Release 12.3 Discussion"
I remember hearing somewhere that we are going to do the next release before the end of the month, is this the case?

[2020-05-11 16:08] carlinmack commented on #215
Hi, our emoji only render if you distribute the font, which you can't do in the youtube description. You can type the emojis available on your platform, ctrl+. on Windows, Command - Control - Spacebar on Mac etc.

In your video you can use OpenMoji by using the font or by inserting images etc

[2020-05-11 16:11] carlinmack commented on #215
The codes on that page are actually the identifier of the character given by the governing body of emoji, Unicode.
![image](https://user-images.githubusercontent.com/6676843/81584257-85510d80-9380-11ea-88bc-209e2cb31e73.png)
you can see that the identifier on the left becomes the emoji on the right, which is rendered with Microsoft emojis as I'm on Windows

[2020-05-11 16:22] in2Rafi commented on #215
Hi! You mean the emojis will not be rendered on someone's computer who didn't install Openmoji on his/her computer?

[2020-05-11 16:51] carlinmack commented on #215
sadly yes because it is a font rather than pictures

[2020-05-12 06:19] b-g commented on #216
@carlinmack Yes good call! As we have plenty of new things ... I think we could do a 12.3 any time. What about this or next Friday?

[2020-05-12 06:23] b-g commented on #216
Kind of related ... @fuddl What about adding a portrait emoji and your links to https://openmoji.org/about/#team ? It is an optional but nice tradition. We would love to have you listed there!

[2020-05-12 10:38] mikiqex commented on #150
I tried to fix the Czech flag, because my eyes bled from the narrow triangle :-) It should be halfway along the rectangle and to me it looks still better squished, than narrow. I also fixed colors.

I'm adding second SVG with correct proportions (3:2), but I understand if you prefer the 62 pt width to unify all flags. I tried to keep it's height, so I made the whole flag narrower (57 pt).

[1F1E8-

[2020-05-12 10:45] OMGShay commented on #150
Come on, you are not a n00b. You are a genius. Why not add the Brecqhou flag?
Best regards, Shay Ebanks McDonald
    On Tuesday, 12 May 2020, 11:38:35 BST, Michal Novák <notifications@github.com> wrote:

I tried to fix the Czech flag, because my eyes bled from the narrow triangle :-) It should be halfway along the rectangle and to me it looks still better squished, than narrow. I also fixed colors

[2020-05-12 11:05] b-g commented on #124
@OMGShay Mind you language! You will be blocked from the OpenMoji project for the next 30 days. If this happens again forever.

[2020-05-12 11:29] b-g opened #220 "Build system: "Error: no such file or directory""
Hi @kriskowal,

I have trouble with `npm run generate` in our new build system with the files of #219 (https://github.com/hfg-gmuend/openmoji/pull/219/commits/3528cf5fa1345acd00621ecb8e7ac36bbf825c62). Could you have a look?

Also I'm wondering how to clean the cache on a local file? Is is just removing `.git/refs/memos/*`?

[code]

[2020-05-12 15:51] kriskowal commented on #220
I’ve checked out the proposed change and reproduced this outcome precisely. My initial impression is that this is not likely a caching problem, but because the new build system uses the content of openmoji.json to determine expected source file locations, there might be a data inconsistency. It might also be possible to improve the build scripts to discover this kind of inconsistency early and rai

[2020-05-12 16:16] kriskowal commented on #220
Same results with a clear cache. I’m looking into whether there’s a data consistency issue (doesn’t look like it so far) or something else. Looks like it goes off the rails toward the beginning of the pipeline.

[2020-05-12 16:42] carlinmack commented on #150
@mikiqex are you familiar with GitHub, would you like to do a PR? If not I can do it for you and credit you :)

[2020-05-12 16:50] carlinmack commented on #216
@lizbravob just pinging to let you know that the next release is coming up, if you have any other additions :) no worries or pressure if not 👍

[2020-05-12 16:55] kriskowal commented on #220
I’ve isolated a few small bugs in the build system. I’ll propose a diff in half a day.

[2020-05-12 18:45] carlinmack commented on #205
speaking of guemil, would be nice to have some of these

![image](https://user-images.githubusercontent.com/6676843/81732885-21e9dd00-945f-11ea-9137-ebdef33221a8.png)

[2020-05-13 08:06] dnlutz commented on #203
An older but nevertheless very interesting project:
http://www.piclig.net/
I think it would be great if you could type the emoji as easily as possible.
Should we include this point in our considerations?

[2020-05-13 12:25] b-g commented on #205
Yes ... but we would have to hallucinate the "colors" :) I believe they are in black & white. Also the style doesn't fit 100%. Would be some effort on top of all the other stuff.

[2020-05-13 12:34] b-g commented on #203
Nice! but not sure whether we have already a critical mass for a "fluent" typing input. I guess if it were enhanced with autocomplete to show always the user the available combinations ... it might be a really nice experiment.

[2020-05-13 15:24] carlinmack commented on #205
oh of course we would have to redraw and colour them, but some of them are clear and suited to our project

Maybe not for this release  :)

[2020-05-13 16:28] b-g commented on #220
Hi @kriskowal, Super! Many thanks for the fix! But if I run it on the files of #221 (ac82758428a98d79d9ea3b1a3dc3b92b1641f38c):

1. `npm run cc`
2. `npm run generate`
3. I get the following errors ...

Can you reproduce?

Also: running `npm run test-dev` and `npm test` show that `🇩🇯 1F1E9-1F1EF.svg` is broken. But this seems not to be the cause of the bug, or? The tests should also ensure that we

[2020-05-14 08:03] b-g commented on #220
Hi @kriskowal, I've spent some time digging into it ... I think I found the bug https://github.com/hfg-gmuend/openmoji/commit/b5dbc497ca17b9a4960bab95e714d48b18731476. I believe a single variable name was mixed up :) Will investigate further.

[2020-05-14 09:14] b-g commented on #220
I think this was it. Yay! Seems to be working again! Many 🙏 @kriskowal

[2020-05-14 09:14] #220 closed

[2020-05-14 09:17] b-g commented on #203
As of https://github.com/hfg-gmuend/openmoji/commit/a55fe1714014ba1c9ff577ca0cc80da93cf847f3 the `extras-openmoji` has a "emoji" column now. Hence it is possible to refactor everything from a technical point of view.

[2020-05-14 20:12] carlinmack commented on #205
![image](https://user-images.githubusercontent.com/6676843/81981068-c30e9a00-95fd-11ea-8eef-b2cc8bd08a45.png)

[2020-05-15 03:48] carlinmack commented on #150
Maybe I misread the first time but I'll do the PR for you :+1:

[2020-05-15 12:05] dnlutz commented on #205
Hello carlin, i will reach out to rodrigo from https://www.guemil.info/
They prepared the first batch themselves, hopefully they are willing to do an update as well ; )

For the keyboard: it might become better when you add a little vertical line on the right side of the keys (so they become something like "half squares"). And i would also reduce the amount of keys: only two or three rows?

[2020-05-15 16:50] FrayxRulez commented on #112
Working on adding them to Unigram right now... 😃

[2020-05-15 17:18] FrayxRulez commented on #112
So, OpenMoji set is now available in Unigram via cloud update (Settings > Chat Settings > Emoji Set).
However the bitmaps I found in the release page of this repository don't seem to be optimized for direct usage: many of them have too much padding and they look quite out of place (and too small)

[2020-05-15 17:59] carlinmack commented on #112
@FrayxRulez Wow great work! we're doing a release a week today which should hopefully fix some of these issues 😁

[2020-05-15 18:17] carlinmack commented on #112
Could you fill us in on what file type/resolution is used and what improvements we could make?

[2020-05-15 18:18] carlinmack commented on #205
thanks!

good idea with the half keys :)

[2020-05-15 19:12] FrayxRulez commented on #112
I am scaling down the biggest resolution you have to 64 and 18px. The best thing would be to actually fill the bitmaps with the emojis, I might try to do this programmatically when I have some spare time.

[2020-05-16 01:44] carlinmack commented on #112
gallery of what OpenMojis look like in Unigram for reference
|       |       |
|  ---  |  ---  |
|  ![image](https://user-images.githubusercontent.com/6676843/82107330-c5075480-96f4-11ea-8c6d-baa28797d4e0.png)      | ![image](https://user-images.githubusercontent.com/6676843/82107346-ea945e00-96f4-11ea-8fb2-7425688d5218.png) |

![image](https://user-images.githubusercontent.com/6676843/82107385-30

[2020-05-16 02:42] carlinmack commented on #216
We'll be doing the 12.3 release on next Friday the 22nd 😀

[2020-05-16 06:53] FrayxRulez commented on #112
Yes, that’s the problem, all that padding makes most of the emojis look really small, but of course this doesn’t apply to all of them (by example flags are pretty good) and in any case I would like to avoid to increase the app in the size itself.

[2020-05-16 12:38] lizbravob commented on #216
Awesome :) I hope to make any other additions ... soon.

Congrats for the new release the 22nd, you rock. 🚀

[2020-05-16 13:30] lizbravob commented on #125
Hi, I used OpenMoji for my final project in MA degree, it was a super visual tool to communicate different activities or situations about my project. I had to adapt some openmoji, but it worked awesomely.

The next month I will have the dissertation, I hope the OpenMoji give me luck jajaja 🚀

![finalproject_lizbravob_openmoji 02](https://user-images.githubusercontent.com/60933333/82120929-67f0ba80

[2020-05-16 15:38] carlinmack commented on #112
OpenMoji is the smallest package, why are other emoji packages allowed to increase the app size?

[2020-05-16 15:40] carlinmack commented on #112
![unigram](https://user-images.githubusercontent.com/6676843/82123879-cfb00100-9769-11ea-9766-8c816ba370d5.png)
@b-g I don't think this is trivial, but I think that exporting the emoji PNGs with 50% less border would make them more legible, thoughts?

[2020-05-18 06:48] b-g commented on #125
@lizbravob Great + that looks nice! Good luck with MA!!

[2020-05-18 11:41] b-g commented on #112
@carlinmack  I guess this should be a crazy effort ... we could just create a new helper script based on `helpers/export-emojipedia.sh`this is the line:

https://github.com/hfg-gmuend/openmoji/blob/8199c9db792b4aea9fa7026b02c1012720ca45e8/helpers/export-emojipedia.sh#L17

I guess the `-z` might do the trick.

[2020-05-18 22:09] carlinmack commented on #125
https://twitter.com/EmojiGameshow

[2020-05-19 04:49] carlinmack commented on #112
yes -z might just do the trick, I'll experiment tomorrow

[2020-05-19 21:35] carlinmack commented on #205
![image](https://user-images.githubusercontent.com/6676843/82380802-136b6a80-99f7-11ea-905e-728a9810938f.png)

[2020-05-19 22:13] carlinmack commented on #93
@bohnacker the people at GitLab also noticed this! https://about.gitlab.com/blog/2018/05/30/journey-in-native-unicode-emoji/

[2020-05-20 06:12] b-g commented on #205
@carlinmack The two pretzel are on purpose like this :) There is the pretzel on the left (how the world think a pretzel should look like) and the "correct traditional" pretzel as you can find everywhere in South Germany (note the thick bit on the bottom with the white patch). We should keep both. Makes a "huge" difference :)

[2020-05-20 14:10] carlinmack commented on #205
are they both called 'pretzel'?

[2020-05-20 19:05] b-g commented on #205
Yes, both are translated in EN to pretzel.

[2020-05-20 19:28] carlinmack commented on #93
@mikemaccana you can view how the the emojis look as a font on this website https://hfg-gmuend.github.io/openmoji/ by selecting OpenMoji in the bottom left. There are some bugs but it's pretty good

[2020-05-21 17:21] carlinmack opened #226 "Opacity in OpenMojis"
I just discovered there is some transparency here:

![image](https://user-images.githubusercontent.com/6676843/82586599-d1146b80-9b65-11ea-88c6-611c6248604d.png)

I'm going to try see if I can write a script to collate all the examples of transparency so that we can discuss if and where transparency is allowed

[2020-05-21 17:41] carlinmack commented on #226
[code]
output:
SVGS:
src/extras-unicode/symbol-other/2B2E.svg
src/flags/country-flag/1F1E9-1F1F2.svg
src/extras-unicode/symbol-other/2B21.svg
src/extras-unicode/symbol-other/2BC4.svg
src/people-body/hand-fingers-partial/1F91E.svg
src/extras-unicode/symbol-other/2B23.svg
src/extras-unicode/symbol-other/2B22.svg
src/travel-places/sky-weather/26F1.svg
src/extras-unicode/symbol-other/2B1F.svg
src/extr

[2020-05-21 17:48] carlinmack commented on #226
I'll sort out all the symbol-other emojis for now

[2020-05-21 18:03] carlinmack commented on #226
@fuddl could you add a
[code]
type thing to your figma clean-up script? they're equivalent but it would be nice to keep it consistent 👍

[2020-05-21 18:54] carlinmack commented on #216
@b-g will you add the subset of gardening emojis for tomorrows release?

[2020-05-21 18:55] carlinmack commented on #209
nevermind, the site has been redesigned to let people choose which version to use

[2020-05-21 18:55] #209 closed

[2020-05-21 19:13] fuddl commented on #216
Is there something I can do to get #198 in?

[2020-05-21 19:23] carlinmack commented on #205
@dnlutz I tried half squares and I'm not sure if I'm going in the right direction
![image](https://user-images.githubusercontent.com/6676843/82597397-e47c0280-9b76-11ea-8f73-7dd37883c822.png)

without the darker grey fills it looked really messy

[2020-05-21 20:08] carlinmack commented on #216
as it's such an old PR I've had to cherry-pick it up 77 commits

[2020-05-21 21:18] carlinmack commented on #216
merged 🚀

[2020-05-22 05:16] nicdiac commented on #124
@b-g Hi! :) I'm Nico, from Argentina. I'm an amateur designer (yet) and I just discover the OpenMoji project. I'm in love of all what you all have done here and I wanna colaborate in anything I can. I had a wide knowledge of Ai and Ps, and some theory of design.

[2020-05-22 06:23] b-g opened #227 "Add Gardening Openmojis"
[adjusted-gardening.zip](https://github.com/hfg-gmuend/openmoji/files/4666400/adjusted-gardening.zip)

[2020-05-22 06:29] b-g commented on #196
Seems to be done. Closed. Thanks everyone!

[2020-05-22 06:29] #196 closed

[2020-05-22 06:43] b-g commented on #226
@carlinmack Many thanks for spotting! Will add a new test for it in the next days ...

[2020-05-22 07:21] b-g commented on #227
@carlinmack

No, don't have enough time for this. Sorry!

Done.

[2020-05-22 08:01] b-g commented on #124
Hi @nicdiac, Nice to e-meet you! Many thanks for the compliments! Sounds great! We definitely could need a 🖐! :)

I would suggest:
1. Read CONTRIBUTE.md
2. Pick an easier todo/issue to get familiar with the styleguide, maybe? #150
3. Once you are bit a familiar with everything ... we could need help designing new OpenMojis e.g. #124 or all the [special interest ones](https://github.com/hfg-gmuend/

[2020-05-22 10:27] dnlutz commented on #205
My favorite is the one in the middle, but I would also use fills for the bigger keys (as you did it in the version on the right). I also believe that fewer keys would be enough: what about one row less? And -1 or -2 keys per row? The keyoard will look less crowded this way.

[2020-05-22 13:34] dnlutz commented on #31
A 6px wide white contour line underneath would be the simplest and most pragmatic solution. It doesn't disturb on light backgrounds and can be removed if necessary. Actually I even like the extra line. The emojis look bolder and more stable on dark backgrounds.
<img width="947" alt="dark_mode" src="https://user-images.githubusercontent.com/38292227/82673196-c16a5500-9c41-11ea-84b8-f1ac0f0a3a15.png

[2020-05-22 14:52] carlinmack commented on #227
if you could add the metadata as well then they can be merged

[2020-05-22 15:01] nicdiac commented on #124
Perfect! :) I'm just learning how GitHub platform works, so just noticed that this is already a project 😅 I'll read it all and put in to it! Thanks

[2020-05-22 16:37] carlinmack commented on #150
@mikiqex https://emojipedia.org/openmoji/12.3/flag-czechia/ :D

[2020-05-22 19:17] carlinmack commented on #31
I think this would generally work, but there's a few factors involved here:

1. The template
![image](https://user-images.githubusercontent.com/6676843/82701113-89611300-9c3d-11ea-8e00-26402d1a177c.png)
Currently the margins are 4px, and I'm trying to make sure emoji fit in the margins
![image](https://user-images.githubusercontent.com/6676843/82701556-6a16b580-9c3e-11ea-8403-54d0f58f37ac.png)
I t

[2020-05-22 19:26] carlinmack commented on #124
don't worry about the intricacies of github, it's perfectly possible for you to contribute like #138 :) I would maybe suggest #142 or #143 as easy issues to fix

Glad to have you onboard!

[2020-05-22 22:45] carlinmack commented on #205
![image](https://user-images.githubusercontent.com/6676843/82714401-6003af80-9c5c-11ea-88fd-b2e1d24d4ad9.png)
anything else?

[2020-05-23 07:48] fuddl opened #230 "Idea: Black Hole Emoji"
![BLACK HOLE](https://user-images.githubusercontent.com/842548/82724900-8ca9dc80-9cd9-11ea-948f-c778ca367537.png) ![BLACK HOLE BLACK](https://user-images.githubusercontent.com/842548/82724901-8d427300-9cd9-11ea-8b95-d8de86de70d8.png)

Based on a [NASA Visualization ](https://www.nasa.gov/feature/goddard/2019/nasa-visualization-shows-a-black-hole-s-warped-world) which is pretty close to a [popular

[2020-05-23 09:14] dnlutz commented on #31
If we continue in this direction we should treat all emoji equal. Otherwise it could get complicated and inconsistent. The additional outline also helps for flags with black parts:
<img width="930" alt="dark_mode_02" src="https://user-images.githubusercontent.com/38292227/82726769-94bc4900-9ce6-11ea-947e-85b160eae77d.png">

[2020-05-23 09:15] dnlutz commented on #31
… and it would be really cool if we could somehow automate this whole thing ; )

[2020-05-23 17:53] carlinmack commented on #230
wow that's very cool and closely matches the gif, nice! I saw this recently https://twitter.com/matthen2/status/1263678557697396738

[2020-05-23 17:55] carlinmack commented on #230
also randomly someone rated all the "black hole" emojis and we won hahah https://twitter.com/PhilipLynchGW/status/1236633891814936578

but anyway yes I think it's good and if @b-g likes it we'll merge :)

[2020-05-23 17:59] carlinmack commented on #31
yeah it would be very good to automate this, but I'm not sure what the best approach would be

I think adding a layer between grid and color/line-supplement with a union of the line+line-supplement with stroke of #fff and stroke width of 6 would be easiest. That makes sense in my head haha, I'll try see how easy that is

[2020-05-23 18:53] nicdiac commented on #142
Hi! I leave here the corrections on the 4 finger ones. I also do some sutil corrections on the ones with already 5 fingers, like a hand to low and excessively big on 1F914  or a little unnatural pose on 1F92B (Although I'm not sure about this one changes, I leave it up to you)

[Uploading #142.zip…]()

Leave me your thougts!

[2020-05-23 18:55] nicdiac commented on #142
Hi! I leave here the corrections on the 4 finger ones. I also do some sutil corrections on the ones with already 5 fingers, like a hand to low and excessively big on 1F914 or a little unnatural pose on 1F92B (Although I'm not sure about this last one changes, I leave it up to you)

[Hi here!](https://github.com/hfg-gmuend/openmoji/files/4672363/142.zip)

Leave me your thougts!

[2020-05-23 21:16] carlinmack commented on #31
I've made a script which works fairly well :)

One thing to consider is that the quality of the outline is of course directly correlated to the quality of the existing line layer

![image](https://user-images.githubusercontent.com/6676843/82740692-28a70880-9d19-11ea-802b-ce86571644bd.png)

Outline is not white for effect

[2020-05-23 21:55] carlinmack commented on #142
yes great stuff! I much prefer v2, we don't like unnecessary anchor points :) I also like what you've done with the unnatural poses.

for reference:

![image](https://user-images.githubusercontent.com/6676843/82741280-9bff4900-9d1e-11ea-94c3-2676577f616d.png)

watch out for little imperfections like this though,
![image](https://user-images.githubusercontent.com/6676843/82741151-40808b80-9d1d-11ea

[2020-05-24 18:10] carlinmack commented on #226
I think we should add the test after we discuss what to do about the 6 remaining emojis

[2020-05-24 18:44] carlinmack commented on #142
@nicdiac can you make sure you export your files following these instructions? https://openmoji.org/styleguide/#file_export it seems there's CSS attributes in your SVGs

[2020-05-24 21:47] inferno986return opened #232 "British flag suggestions"
I have a few suggestions for British flags. I have tried prototyping a few of them in Affinity Designer, as many of these are simple geometric designs that reuse components of other flag emojis:

- White Ensign (or British naval flag)
- Blue Ensign
- Red Ensign
- Royal Air Force Ensign
- UK county flags
- City of London flag (not a UK county)
- Ulster banner

![city_of_london_OpenMoji](https://use

[2020-05-24 23:54] carlinmack commented on #232
I'd be happy to merge if you made a PR :)

[2020-05-25 06:16] b-g commented on #232
Hi @inferno986return, Yes many thanks for this!

However could you hold back a bit on the obvious military related flags?

We are currently working on an OpenMoji Code of Conduct and also how we should deal with non unicode standard contributions.
A general "no" to any kind of "military insignia" could be a point in the contributions guidelines. Yes ... this is a tough discussion ... sorry to slow

[2020-05-25 08:21] dnlutz commented on #205
👍 … i like it ; )

[2020-05-25 09:10] b-g commented on #142
@dnlutz Do you want to add anything in terms of curve quality or OpenMoji hands and fingers?

[2020-05-25 10:24] inferno986return commented on #232
@b-g As long as I know what the rules are.

There are plenty of non-military flag designs that would be great in emoji form. 😃

[2020-05-25 14:21] b-g commented on #226
@dnlutz Can you advice how to get rid of the transparency at the last 6 remaining emojis?

| Path                                           | Image                                                                                            |
|------------------------------------------------|--------------------------------------------------------------------------------------------------|
| src/act

[2020-05-25 14:24] dnlutz commented on #142
Sorry for being late to the party AND it's just a sketch … but I would be strongly in favor of going in the opposite direction. The more fingers, the more tiny fragmented elements we get. The interior spaces become too thin and don't look good.

I don't think we need the fingers here at all – the main thing is to recognize the hands. What do you think? Would that be a direction you could go?

[2020-05-25 14:26] dnlutz commented on #142
sorry, i did not want to close this issue but add an image … github
<img width="970" alt="hands_faces_01" src="https://user-images.githubusercontent.com/38292227/82821441-6c7a4900-9ea4-11ea-8609-a179c4ea5894.png">
😭😭😭

[2020-05-25 14:36] dnlutz commented on #226
I had to apply "Aussehen umwandeln" in Illustrator (cmd + shift + U).
After that the transparency of the elements can be changed to 100 percent.
[transparency.zip](https://github.com/hfg-gmuend/openmoji/files/4677681/transparency.zip)

[2020-05-25 14:43] carlinmack commented on #226
not so simple, you agree this looks bad?
![image](https://user-images.githubusercontent.com/6676843/82822861-7ab07100-9e74-11ea-83a2-6ef25b4cc5cc.png)

[2020-05-25 14:49] b-g commented on #230
@fuddl Super! Just wondering whether the ring could be a bit more "visually impossible" to commemorate the black hole better? I'm thinking of an Escher triangle or a Möbius strip replacing your current ring (which could also be read as ring of Jupiter) ... but not sure whether this is feasible :)

![6b3ea2e8a1eced5a76052081b23c1c67](https://user-images.githubusercontent.com/480224/82823316-a305930

[2020-05-25 15:02] dnlutz commented on #226
Yes that's a good idea.
Otherwise we'd have to define an additional grey tone – the lighter grey is definitely too light.

[2020-05-25 15:44] nicdiac commented on #142
I dont know if it is an oversimplification. But in the other hand I think thant otherwise there are a lot of useless lines. In any case I would leave it with five fingers, the difference is subtle but it looks, an it would differs much of the other emoji lines.

![Mesa de trabajo 1](https://user-images.githubusercontent.com/65752952/82827384-4f824d80-9e85-11ea-9858-03d64149eb07.jpg)
![2](https://u

[2020-05-25 16:09] dnlutz commented on #31
Very nice! Is there any way to also include open color areas (like in the tail of the skunk)?
Btw. the [other skunks](https://emojipedia.org/skunk/) also don't do well on dark backgrounds ; )

[2020-05-25 16:37] carlinmack commented on #31
could do

[2020-05-25 16:50] fuddl commented on #230
the is nothing _visually impossible_ about this depiction of a black hole. just the part of the accretion disc which is _behind_ the black hole appears warped around it's horizon. Can you further demonstrate what you propose?

[2020-05-25 17:37] inferno986return opened #233 "Pokeball emoji"
Watching _Detective Pikachu_ recently gave me the idea for a Pokeball emoji. I am happy with the current mockup I made in Affinity Designer using the pie tool.

![openmoji_pokeball](https://user-images.githubusercontent.com/1838420/82833707-bec46580-9eb6-11ea-88d8-2dd033cc742d.png)

[2020-05-25 20:55] carlinmack commented on #233
looks great, could you do

File > Export > SVG > Preset > SVG (for Export)

then

More... > Use hex colors > Close > Export

then save as E157.svg in openmoji/src/extras-openmoji/objects

then you'd be ready to PR :)

[2020-05-26 01:08] carlinmack commented on #142
If we're representing fingers at all it should be five, however I think we should hint at them like
![image](https://user-images.githubusercontent.com/6676843/82850833-d9eda000-9ecb-11ea-87bc-d0cde76114d5.png)

[2020-05-26 06:14] #216 closed

[2020-05-26 06:17] b-g commented on #170
Discussion seems to be done. Closing. Please re-open if there is anything to add.

[2020-05-26 06:17] #170 closed

[2020-05-26 06:22] b-g commented on #146
Done and implemented for the emojis. Thanks!

@dnlutz could you update `openmoji/guidelines/openmoji-abc.ai / .svg`?

[2020-05-26 06:23] b-g commented on #203
Discussion seems to be done. Closing. Please re-open if there is anything to add.

[2020-05-26 09:56] dnlutz commented on #146
Yes I will!

[2020-05-26 10:46] axelpale commented on #170
@b-g Yes, I guess so. I would love to see [the generator](https://github.com/axelpale/openmoji-spritemap-generator) or [the sprites](https://axelpale.github.io/openmoji-sprites/) mentioned somewhere with an alpha stage tag. Although they are still in alpha and I haven't yet shared the ownership with you, some publicity would give these repos momentum and invaluable feedback for further development

[2020-05-26 10:54] b-g commented on #170
@axelpale Of course + Sorry! Was thinking we had already added a link ... done: https://github.com/hfg-gmuend/openmoji/commit/bb875248b03a83ac29baa82f049ff19e78495a6e

[2020-05-26 11:00] axelpale commented on #230
Nice! Also for me, the ring resembles the ring of saturn quite much. Maybe the ring should be connected to the event horizon like in the gif instead of being visually separate. To give an idea what I mean, see my poorly drawn sketch below.

![sketch-blackhole](https://user-images.githubusercontent.com/992081/82892801-ca686880-9f58-11ea-8e16-75a648630284.png)

[2020-05-26 11:02] eltos opened #234 "Colorless flag emojis: use ISO country codes"
Currently, the country flags appear blank without color and are indistinguishable.
I propose to include the [ISO country code letters](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes) for the no-color version via the `line-supplement` layer.

![blank flag](https://github.com/hfg-gmuend/openmoji/raw/f7c54bfd76983c3bde00a1cb844216100ab4355b/black/72x72/1F1E9-1F1EA.png)

[2020-05-26 11:11] b-g commented on #234
Hi @eltos, Nice to e-meet you! Yes this is a good idea to improve this! Especially as the hexcodes of the flags already holds this info:

![2020-05-26 at 13 08](https://user-images.githubusercontent.com/480224/82894131-604cc500-9f52-11ea-91ce-55dd437cc00f.png)

However we a quite busy with other things ... hence if you would like to see it fast ... you will have to help / take care of it / support

[2020-05-26 11:22] axelpale commented on #170
Great, thank you.

[2020-05-26 16:49] nicdiac commented on #142
I leave those here with that modifications
![1F92B@150x-100](https://user-images.githubusercontent.com/65752952/82927543-3fd33980-9f57-11ea-9239-c2e4483c2b23.jpg) ![1F92D@150x-100](https://user-images.githubusercontent.com/65752952/82927555-42359380-9f57-11ea-8517-b6602f09eb79.jpg) ![1F914@150x-100](https://user-images.githubusercontent.com/65752952/82927557-42ce2a00-9f57-11ea-85ba-5a42fcb424f9.jp

[2020-05-26 19:44] inferno986return commented on #233
I've sent the PR. Let me know if there's anything else. :-)

[2020-05-27 06:12] b-g commented on #230
+1. I think @axelpale expressed it better with what I was trying to refer with "visually impossible". Currently for my eyes it looks too much like a normal planet and not like something really special lie a black hole. Hope that makes sense.

[2020-05-27 06:20] b-g commented on #203
👍 from my side! Nice example! :)

[2020-05-27 07:41] dnlutz commented on #203
Yes 👍 the example is really convincing ; )

[2020-05-27 11:14] mavit commented on #93
I see that Google have started work on a new tool, [nanoemoji](https://github.com/googlefonts/nanoemoji), to build colour fonts in a variety of formats.  Not all formats are currently implemented, and it doesn't seem to be production quality yet, but I think it's worth keeping an eye on.

[2020-05-27 13:51] b-g commented on #93
Thanks @mavit! This is a good pointer! Would you have time to give it spin? ;) Our color font generator seems not the best bet in the long run ... We are keen to have better and more fonts to render OpenMojis on more platforms.

[2020-05-27 17:18] fuddl commented on #230
like this?
![BLACK HOLE](https://user-images.githubusercontent.com/842548/83051782-c159c300-a04e-11ea-81dd-a851333e29d1.png)

[2020-05-27 17:59] nicdiac commented on #142
Here i leave the ones with those modifications.

[2. less lines.zip](https://github.com/hfg-gmuend/openmoji/files/4690774/2.less.lines.zip)

I also been working on the racoon one with the modifications. I still hardly see a racoon there, the shape of the body seems a lot like a lemur, so I do a reversion of it. What you think?

Original / Modified / Reversion

![1F99D ORG](https://user-images.gith

[2020-05-27 18:10] carlinmack commented on #230
I think you should look at axelpale's design more closely

[2020-05-27 18:14] carlinmack commented on #230
Still looks like a planet, I think connecting the orange lines in the top half would make it more clear

[2020-05-27 18:22] carlinmack commented on #142
The arch of the back is very different to what raccoons actually look like, but it's a lot better! See some of these from wikimedia commons for reference

![Untitled](https://user-images.githubusercontent.com/6676843/83057821-6eb7e100-a025-11ea-8f68-8c3176434049.jpg)

[2020-05-28 06:09] b-g commented on #230
+1

<img width="227" alt="Screen Shot 2020-05-28 at 08 07 22" src="https://user-images.githubusercontent.com/480224/83105144-6067d480-a0ba-11ea-88f5-b524463646e9.png">

@fuddl Many thanks for this! Sorry for all the iterations ... but this just show that we all like the idea and are excited ... and want to get it right :)

[2020-05-28 10:08] dnlutz commented on #142
I prefer the modified version in the middle. The reversion on the right is beautiful but it has too many details IMO. That's a problem we have with some other animals – they should be recognizable but not too realistic / detailed.

[2020-05-28 10:56] dnlutz commented on #230
What about going back to good old 2D?
You have to face the Black Hole head-on ; )
<img width="491" alt="black_hole" src="https://user-images.githubusercontent.com/38292227/83133054-915bff80-a0e2-11ea-953d-9a050a8fe075.png">

[2020-05-28 11:32] b-g commented on #230
@dnlutz Good alternative! My favs is lower left.

Maybe we could combine the two approaches e.g. 2d + halo with the colors step gradient?

[2020-05-28 12:29] axelpale commented on #230
Here are a couple of thoughts for further discussion.

I thinks the lower left by @dnlutz resembles a galaxy quite much, especially when converted to black-white.
![black-hole-bw_HALF](https://user-images.githubusercontent.com/992081/83140928-8069b900-a0f7-11ea-84a4-ecf56d95e71c.png)

My sister came up with a sketch where the regular spiral has been replaced by more chaotic shape. Just to bring up

[2020-05-28 12:34] dnlutz commented on #230
I really like the chaotic shape!
Maybe we can make it a little bit less chaotic,
but I think it would work really well!

[2020-05-29 00:38] lizbravob commented on #138
Hi 👋
I have been worked in more openmoji.

[openmoji_lizbravob.zip](https://github.com/hfg-gmuend/openmoji/files/4699005/openmoji_lizbravob.zip)

Nice weekend :)

[2020-05-29 15:13] nicdiac commented on #142
I leave the animals here with the modifications made.

From the raccoon I lifted his back a little more arched at the end without getting lost in the realism.
![racoon](https://user-images.githubusercontent.com/65752952/83275220-42c36980-a1a5-11ea-92ad-e59f6a0d470e.jpg)

Of the bee and the sloth I leave several options, although of the sloth I opt for the last one, I believe that the problem was i

[2020-05-29 16:16] fuddl commented on #230
no. it's fine. I just need some time

I like the idea but the top-down view is too ambiguous. could be a cyclone or a galaxy. How about a perfect side view?

[2020-05-29 21:59] axelpale commented on #230
Oh, a bit like an eye? I like that idea.

![1F441-FE0F-200D-1F5E8-FE0F_color_HALF](https://user-images.githubusercontent.com/992081/83308793-46400a80-a210-11ea-9b86-2ce4a28be294.png)

Maybe [eye in speech bubble](https://openmoji.org/library/#search=eye&emoji=1F441-FE0F-200D-1F5E8-FE0F) provides some inspiration?

[2020-05-29 22:12] axelpale commented on #230
For reference a side view. Resembles eye a bit and also brings the empty set ∅ to mind.

![black-hole-side-view](https://user-images.githubusercontent.com/992081/83309396-cf0b7600-a211-11ea-92ba-9c6f6cde9ee0.jpg)

[2020-05-30 03:01] carlinmack commented on #142
### raccoon

I think both options suffer from the large dip at the neck, have a look at the cat emoji for how you can do a continuous line and keep the ear

### bee

I'd prefer sometihng like this (including legs)
https://commons.wikimedia.org/wiki/File:Bombus_impatiens_queen.jpg

### sloth

I'd say third but I think the head shouldn't be a circle and should be more accurate

### monkey

great

##

[2020-05-30 08:58] dnlutz commented on #138
1F9CB Bubble Tea
O.k. … I first had to google what the black dots actually are ; ) What about reducing the number of pearls and placing them in a more "organic / random" ways?
The cup looks quite edgy, maybe you could round off the bottom a little bit? The straw with a bend?

1FA9F Window
I got it wrong, it seemed to be a glass door (sorry ; )
I would try a more simple design, maybe like the one f

[2020-05-30 09:02] dnlutz commented on #142
I agree with @carlinmack
The only way to improve Hippo and Kangaroo is to rework them from scratch ; )
But the others got really much better, I especially like the new skunk!

[2020-06-02 00:00] carlinmack commented on #230
sorry for not chiming in much, I've been travelling home the past few days. My vote is either with an emoji version of the image directly above, or the 45° version but with the orange lines connected in the top half.

I don't think the "2D views" are recognisable at all, but a blue version of the bottom left would make a great replacement for our cyclone emoji https://emojipedia.org/cyclone/

[2020-06-02 00:14] carlinmack commented on #138
I much prefer this as a more geometric teapot design https://commons.wikimedia.org/wiki/File:Tea_pot,_Downpatrick,_September_2010.JPG however I do like the traditional version you originally used

[2020-06-02 00:29] carlinmack commented on #142
going back to the hands for a second, I think this is preferable to your design could either of you send me the change?
![image](https://user-images.githubusercontent.com/6676843/83466909-7ec92980-a446-11ea-8691-a0af72e77d91.png)

[2020-06-02 00:37] carlinmack commented on #138
![image](https://user-images.githubusercontent.com/6676843/83467345-a7055800-a447-11ea-936c-574ef2ac5e7a.png)
I think this is an improvement

[2020-06-02 05:18] nicdiac commented on #142
Me too, but dont follow the line of the 'no finger guys' 😂, thats why i rejected. I leave it here.

[1F92B.zip](https://github.com/hfg-gmuend/openmoji/files/4714883/1F92B.zip)

In other news, i remade the raccoon. With this option the dip in the neck disappear. What you think?

![Mesa de trabajo 4PNG](https://user-images.githubusercontent.com/65752952/83482428-a6d08100-a476-11ea-9154-e2b9066d158d.

[2020-06-02 09:50] b-g commented on #230
thanks everyone for the plenty ideas! I guess we should leave it to @fuddl to synthesize then into a new iteration :)

[2020-06-05 03:54] nicdiac commented on #142
Here i add the bee based on the one you said with some little variations, Im between 2 and 4

![Mesa de trabajo 2PNG](https://user-images.githubusercontent.com/65752952/83835303-cf4eba00-a6c6-11ea-8488-54f77c55cd61.jpg)

[2020-06-05 10:10] carlinmack commented on #142
all of our insects are from a top down or side view so 4 and 5 are disqualified

as for the others:

* the back wing should be partially hidden by the body - right now it looks like both wings are stuck on to one side of the body
* it would nice to hint at the segmentation of the body a bit more
* bees have 6 legs but that may clutter the design too much

[2020-06-05 20:27] carlinmack commented on #142
I'd just like to reiterate how important it is to follow the correct exporting rules

makes it a lot easier on my end 😀

[2020-06-06 06:53] fuddl commented on #230
you mean like this? just a sketch, I'm not happy with the linework:
![BLACK HOLE LINES CONNECTED](https://user-images.githubusercontent.com/842548/83938133-50df3e80-a7d2-11ea-927c-1d49eebc4117.png)

I also tried a 2D side view and it's hard to have it not look like an eye:
![BLACK HOLE FLAT](https://user-images.githubusercontent.com/842548/83938134-5177d500-a7d2-11ea-8487-8144bb61b4f0.png)

If we

[2020-06-06 09:20] axelpale commented on #230
@fuddl Great work! What do you think about this sketchy variation, extending the first one of the three by merging the orange lines into a single shape? The simpler the better?

![black-hole-revisit](https://user-images.githubusercontent.com/992081/83940714-e2f54000-a7ee-11ea-82ae-73dd6d0afc37.png)

[2020-06-07 08:31] fuddl commented on #230
I like it.

[2020-06-11 14:19] b-g commented on #227
@carlinmack Done! Could you check whether the gardening vocabulary matches the emojis?

[2020-06-11 14:19] #227 closed

[2020-06-11 14:19] carlinmack commented on #227
will do!

[2020-06-12 21:34] nicdiac commented on #142
Here are the two.

On **the bee** I made the modification on the wing to be backward, the legs and the segmentation I dont thinks is the best to do, it makes it a lot more realistic, and more legs I tried before and does not work.

Let your thoughs on **the raccoon** one, I remade it with a side view, like all the animal line but with a more raccoon like profile and curves on the back.

![Mesa de

[2020-06-13 16:55] carlinmack commented on #142
I really like that racoon!! perfect

and fair enought with the bee, it's a huge improvement already!

[2020-06-13 23:47] carlinmack opened #240 "Add open source variants for all brands"
As we are an open source project, we should represent open source 'brands' too:

- [ ] Twitter and Facebook - Mastodon
- [ ] Pinterest and Instagram - PixelFed
- [ ] YouTube - PeerTube
- [ ] Github - GitLab
- [ ] LinkedIn - ?
- [ ] Messenger/WhatsApp - Signal
- [x] Android and Windows - Linux
- [x] Chrome - Firefox

[2020-06-14 20:45] bluematter commented on #125
I am using it in my product https://storycreatorapp.com

[2020-06-14 20:52] carlinmack commented on #125
@bluematter let us know if you have any difficulties! would be good to iron out problems sooner rather than later :)

[2020-06-15 06:33] b-g commented on #240
Yes ... in the past we added just brand logos if there was a request for it. But sure it would be nice to have.

[2020-06-18 15:58] Michele0512 opened #242 "Duplicate EMoji"
There are two brain (1F9E0 and E319) and two plaster/adhesive band (E306 and 1Fa79).

I believe that is because brain and adhesive band were released in 2019 but they were already present in openmoji as extra.
I definitely prefer the more recent plaster: 1FA79.

[2020-06-18 16:01] Michele0512 commented on #242
I have just noticed that it was already reported with a much longer list

[2020-06-18 16:01] #242 closed

[2020-06-18 16:09] Michele0512 commented on #150
Albania: please redraw completely if possible. I think it is currently by far the most problematic flag. The double-headed eagle is simplified to the point that looks like a chinese character. It is the only unrecognizable flag in the set. Some minor problems are being corrected for flags that are otherwise recognizable

[2020-06-18 16:20] carlinmack commented on #242
no worries! feel free to contribute to the discussion there with your thoughts :)

since the last release E306 has improved but I also prefer 1FA79 :)

![image](https://user-images.githubusercontent.com/6676843/85046179-0ceb2280-b15e-11ea-9f9c-29abb4176183.png)

[2020-06-18 17:34] carlinmack commented on #150
totally agree and thanks for spotting! we can do something similar to https://openmoji.org/library/#search=1F1F2-1F1E9&emoji=1F1F2-1F1E9

[2020-06-20 22:29] nicdiac commented on #142
I've seen it dificult to modify the head of de sloth, and also hardly recognizible besides the originality of the concept when I focus on a real sloth pic. Again seems like a monkey like animal. I've tried a diferent aproach, with more realistic on the curves.

![Mesa de trabajo 4](https://user-images.githubusercontent.com/65752952/85212740-14602680-b32c-11ea-80e7-3088366adb1a.jpg)

[2020-06-20 23:12] carlinmack commented on #142
great!

[2020-06-20 23:17] carlinmack commented on #142
Could you make the adjustment to the fill like shown in the image? thanks

![image](https://user-images.githubusercontent.com/6676843/85213315-b3841e80-b32a-11ea-8671-9b055f01aae3.png)

[2020-06-20 23:59] nicdiac commented on #142
perfect! I'll check all the animals for that gaps and refine the sloth lines a little. thanks :)

[2020-06-25 06:01] wayne-shih commented on #150
Re the list of flags to be changed...

Mind if I also add in [Taiwan](https://emojipedia.org/flag-taiwan/) 🇹🇼 `1F1F9-1F1FC` ?

Changes needed
— make the sun bigger
— _(potentially)_ separating out the rays from the core; might mean making the core smaller than official to allow for the rays to split out and align with the OpenMoji style... will have to play around with that

| OpenMoji (as at v12.

[2020-06-25 06:17] wayne-shih commented on #150
for Mozambique 🇲🇿

Reckon would also be worth to add in a white rectangle to symbolise the book

| OpenMoji (as at v12.3.0) | Apple Color Emoji | Official | Flaticon rendition |
| ------ | ------ | ------ | ------ |
| <img width="150" alt="1F1F2-1F1FF.svg" src="https://raw.githubusercontent.com/hfg-gmuend/openmoji/9ea5516a1847ed82529edbeb0202b2afef78f00b/color/svg/1F1F2-1F1FF.svg"> | <img width="1

[2020-06-25 09:58] b-g commented on #150
Hi @wayne-shih Many thanks for reporting and spotting!

Please! :)

[2020-06-25 11:24] carlinmack commented on #150
when you're designing, please don't copy another provider and instead use the official flag as a reference, thanks!

[2020-06-27 15:38] Michele0512 commented on #143
spaghetti dish: looks like a salad bowl more than a plate. (in all other platform is a dish; the curry rice is openmoji is a plate)
exploding head
exploding head (new design): I don't think should be white inside the mouth (it is not white in none of other platforms)
atm: wonderful design but only one without "ATM" and only one (except Mirosoft) with visible banknote

[2020-06-30 09:49] carlinmack commented on #143
* yes!
* agree
* we'll move the current design to OpenMoji extras :)

[2020-07-08 08:50] ak-42 opened #247 "Redesign Croatian flag"
Hello Opemoji team

I hate to do this because I do highly value this project, and I realise that it is a stylised simplification of the overly complex Croatia flag, however...

Your current design bears strong resemblance to the flag of Nazi era puppet state, so called Independent State of Croatia aka NDH.

While there is no argument that Croats have used the checker board shield for hundreds of y

[2020-07-08 09:36] b-g commented on #247
Dear @ak-42, many thanks for reporting this! Sorry that we've got it wrong! But to speed up this and to minimize iterations I would kindly ask to be more visually -> to provide a very rough sketch or a screenshot of the existing ones with annotations ... which we then can use to fine tune a new version. Would that be possible for you?

[2020-07-08 09:51] ak-42 commented on #247
This is the current Croatian coat of arms found on the modern flag. -> https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Coat_of_arms_of_Croatia.svg/604px-Coat_of_arms_of_Croatia.svg.png
It consists of two key parts. The shield portion and the crown, which is visually attached to the shield. The shield's checker board has a red square in the top left of the shield.

This is the historic ND

[2020-07-08 17:32] bluematter commented on #125
![Screen Shot 2020-07-08 at 10 31 52 AM](https://user-images.githubusercontent.com/1669104/86951367-492ef480-c106-11ea-930c-6a85e7d80121.png)

This is the only issue I have been facing. I have to `yarn upgrade --ignore-engines` to properly upgrade deps. Other than that fantastic work.

[2020-07-09 08:41] b-g commented on #247
Hi @ak-42 is this better! :) Please confirm. I would go with 3.

<img width="741" alt="Screen Shot 2020-07-08 at 15 51 40" src="https://user-images.githubusercontent.com/480224/87017803-bf982900-c1d0-11ea-9c4a-956ec0a355c9.png">
<img width="553" alt="Screen Shot 2020-07-08 at 17 16 40" src="https://user-images.githubusercontent.com/480224/87017812-c1fa8300-c1d0-11ea-9b8b-77f5f4fd2300.png">
<img wi

[2020-07-09 09:38] ak-42 commented on #247
From the perspective of the resemblance to the NDH flag, all three are good. I don't think any reasonable person could claim any of those look similar to the NDH flag. Attached crown and the top left square is red.

From personal aesthetic preference, I do agree with option no 3, but it feels to me that the blue crown is just a touch too tall/narrow. Maybe if it was shrunk just a bit.

[2020-07-09 12:01] b-g commented on #247
Many thanks! Done. Might take a while until we have time for a release. Please use in the meantime the files in the master branch, see https://github.com/hfg-gmuend/openmoji/commit/42de852ec5a9fad4af75a99081f4e58bd5563c5b.

[2020-07-09 12:01] #247 closed

[2020-07-09 21:26] carlinmack commented on #125
have fun playing with this https://carlinmack.com/openmoji.html :)

[2020-07-09 22:18] szpickij commented on #125
[OpenEmojiFinal.zip](https://github.com/hfg-gmuend/openmoji/files/4899773/OpenEmojiFinal.zip)

[2020-07-10 05:19] alexkadis commented on #95
@b-g I would like to be listed as the author of this emoji. I didn't complete it but I did do most of the work. Is that ok? I've just always wanted to have 'my own' emoji.

[2020-07-10 06:30] b-g commented on #125
Wow! So many nice things! Thanks for sharing!

@bluematter that is already fixed (but not yet released) ... it might take some time until we have time for a new release.

[2020-07-13 12:31] b-g commented on #95
Hi @alexkadis,

Sorry for the slow response very busy here!

I'm afraid but I see this very different. You are absolutely right that you put work in it and that you've proposed it. However you did not push it through and you did not communicate with us for 3 months. Hence I felt safe that you would not be any longer interested and took over the todo.

I can assure you that I did not incorporate an

[2020-07-13 14:03] alexkadis commented on #95
Ok! That completely makes sense. I’ll look at the other emoji!

[2020-07-13 15:28] b-g commented on #95
Many thanks for your understanding! I really appreciate! You are really welcome: What about "claiming" Ninja Cat instead of Hacker Cat? :)

[2020-07-15 14:31] k-j0 commented on #125
Hi, first time commenting on this repo so first off hats off to everyone involved in this project!
Started work on a vanilla JS emoji picker add-on that works exclusively with OpenMoji in my free time :) Not the most performant emoji picker, but I'm sure I can try and iron it out further.
[Repo](https://github.com/k-j0/openmoji-picker) | [Example page](https://jonathan-kings.com/openmoji-picker/)

[2020-07-15 15:05] carlinmack commented on #125
wow this is really good! great work 😮

for improved performance you could use spritesheets (like these https://github.com/axelpale/openmoji-sprites) cc @axelpale

[2020-07-15 15:13] k-j0 commented on #125
Ah, that's a great suggestion, will implement that! Initially I tried using the font but I guess some emojis have display issues with it in certain browsers, but if that gets fixed I'd assume it would be the best solution

[2020-07-16 15:40] b-g commented on #125
@k-j0 Very nice! Once the Picker is final ... we could finally have an answer to https://github.com/hfg-gmuend/openmoji/blob/master/FAQ.md#-is-there-an-emoji-popup-or-emoji-picker-available-for-openmoji !

[2020-07-19 11:41] mavit commented on #93
Status update for nanoemoji.  It worked for building COLR TTFs when I first tried it, but by the time I got around to containerising the build it had broken because of googlefonts/picosvg#65.

[2020-07-19 17:15] Michele0512 commented on #143
christmas tree: in all other platform there is a star on top of tree, consider adding a star on top

[2020-07-20 06:30] b-g commented on #93
Hi @mavit! Many thanks for keeping us posted! Building color fonts via nanoemoji would be mega! Fingers crossed that the bug is soon resolved!

[2020-07-20 13:52] b-g commented on #138
Hi @lizbravob, Hope this message finds you all well! We have the next OpenMoji release coming up (before we go into a long summer break)! Any chance to get your open ones in the enxt days/weeks? Sorry to bother :)

[2020-07-20 13:53] b-g commented on #234
Closed due to inactivity. Please re-open if you want to give it another try :)

[2020-07-20 13:53] #234 closed

[2020-07-20 13:54] b-g commented on #233
Closed due to inactivity. Please re-open if you want to give it another try :)

[2020-07-20 13:54] #233 closed

[2020-07-20 13:56] b-g commented on #232
Closed due to inactivity. Please re-open if you want to give it another try :)

[2020-07-20 13:56] #232 closed

[2020-07-20 13:58] b-g commented on #230
@fuddl @axelpale Could we finish the black hole OpenMoij? We have the next release coming up (before we go into the summer break). any chance getting a black hole PR in the next days / until end of July? Sorry to bother! :)

[2020-07-20 17:38] axelpale commented on #230
@fuddl I don't want to push you but if you have the time available, it would be great if you committed either the last of [your three](https://github.com/hfg-gmuend/openmoji/issues/230#issuecomment-639997796) or modified it according to [my proposal](https://github.com/hfg-gmuend/openmoji/issues/230#issuecomment-640018578). I think the both are good enough! We can always modify it later if people

[2020-07-21 03:45] lizbravob commented on #138
Hi @b-g sorry, I forgot to submit the openmoji, but they are here with the corrections :) thanks for the feedback @dnlutz  🚀
If there any correction, I'll be pending.

[Openmoji_lizbravob.zip](https://github.com/hfg-gmuend/openmoji/files/4951170/Openmoji_lizbravob.zip)

[2020-07-21 06:42] b-g commented on #138
Hi @lizbravob, great + many thanks! Will add them all asap!

Only comment: I don't fully get the sign on the coin 1FA99? Would a "1" or/and a silhouette of a person not be more universal? See https://emojipedia.org/coin/

![2020-07-21 at 08 42](https://user-images.githubusercontent.com/480224/88021631-28b36100-cb2e-11ea-8ac7-5c4e31f6048e.png)

[2020-07-21 12:17] lizbravob commented on #138
Sure, like this?

[1FA99.zip](https://github.com/hfg-gmuend/openmoji/files/4953403/1FA99.zip)

[2020-07-21 14:26] b-g commented on #138
Great + 🙏! Added all of them to the library with the latest commit.

[2020-07-22 06:39] #76 closed

[2020-07-22 06:43] b-g commented on #203
As we have a consensus with https://github.com/hfg-gmuend/openmoji/issues/203#issuecomment-634121666. Discussion seems to be done. Closing. Please re-open if there is anything to add.

[2020-07-22 06:43] #203 closed

[2020-07-22 19:49] nicdiac commented on #142
Sorry the delay, some issues comes up. Here are the hippo and the kangaroo reformulated. I have to do some refinements, but to give you the main concept.
![Mesa de trabajo 5@300x-100](https://user-images.githubusercontent.com/65752952/88221684-373b6e80-cc3b-11ea-8454-066830b478ad.jpg)

[2020-07-23 12:43] carlinmack commented on #142
Wow good work!

Can you upload the monkey, skunk, raccoon, bee, sloth, hippo and kangaroo! thanks 😀

[2020-07-23 13:45] b-g commented on #142
Hi @nicdiac, Many thanks for this! Nice! But I think this could be still improved a bit ... I don't like that the black lines cluster that much. Could you try once more to further simplify the curves while avoiding clustering of the black lines?

![2020-07-23 at 15 43](https://user-images.githubusercontent.com/480224/88293617-877a0580-ccfb-11ea-823f-4fa771a89338.png)

[2020-07-25 18:02] fuddl commented on #230
@axelpale

![BLACK HOLE COLOR](https://user-images.githubusercontent.com/842548/88463251-bdf98100-ceb1-11ea-955d-837c66d1f9bf.png) ![BLACK HOLE BLACK](https://user-images.githubusercontent.com/842548/88463252-be921780-ceb1-11ea-909d-9085cba98b6b.png)

[2020-07-26 17:04] b-g commented on #230
@fuddl Nice! PR please! :)

[2020-07-26 18:42] hawkeye64 opened #251 "Fix dependency on node 8.x, so it can be used on later version of node"
[code]
I am not sure what is causing this as I looked in package.json and did not see restriction

Do you guys generate this npm package? https://www.npmjs.com/package/openmoji

[2020-07-26 19:12] axelpale commented on #230
@fuddl Oh yeah! Great work!

[2020-07-26 21:08] carlinmack commented on #251
I think you have to do `yarn upgrade --ignore-engines`, we've fixed this for the next release which is coming soon :)

[2020-07-27 13:36] b-g commented on #125
Very nice animation based on OpenMoji!

https://twitter.com/GuemilIcons/status/1286660585896185857
https://twitter.com/FelipeVilches/status/1286672594117238784

<img width="616" alt="Screen Shot 2020-07-27 at 15 36 20" src="https://user-images.githubusercontent.com/480224/88548111-ee126280-d01e-11ea-9a75-b96b5614809b.png">

[2020-07-28 16:11] hawkeye64 commented on #251
In the meantime, to get around this, I just `yarn add https://github.com/hfg-gmuend/openmoji`

[2020-07-28 17:23] b-g commented on #251
Fixed and published/released with 12.4, a simple `npm install openmoji` should do the trick. Closed.

[2020-07-28 17:23] #251 closed

[2020-07-30 04:21] amitkoth opened #253 "Emoji search in natural language"
Is the search for emojis at https://openmoji.org/library/#search=testing%20github open source too?

How is it build exactly?

I want to be able to type any sentence at all and get back the best-match emoji.

How could I achieve that?

[2020-08-03 08:17] b-g commented on #253
Many thanks for the interest!

Yes the openmoji.org is open source as well. Check: https://github.com/hfg-gmuend/openmoji.org

The fuzzy search is powered by fuse.js and the dataset is in `data/openmoji.json`

[2020-08-03 08:17] #253 closed

[2020-08-03 08:20] fuddl commented on #240
I happen to have a prepared a Firefox logo.

[2020-08-03 13:15] b-g opened #256 "🏝 OpenMoji is on hold over summer (project maintainers are out of office until Oct 2020)."

[2020-08-03 13:17] b-g commented on #230
done. thanks everyone!

[2020-08-03 13:17] #230 closed

[2020-08-03 17:07] fuddl commented on #240
what do you think?

![FIREFOX](https://user-images.githubusercontent.com/842548/89208408-9777cc00-d5bc-11ea-83df-2baf827f94a7.png)

[2020-08-04 06:46] b-g commented on #240
@fuddl looks nice! Maybe center it better? Please PR! Just ... I'm about to go ooo tomorrow. Hence either today or in October :) Sorry!

[2020-08-05 09:34] loominade commented on #240
I'm not in a hurry. When is the next release?

[2020-08-05 09:53] b-g commented on #240
Fall 2020 or even end of 2020. Sorry!

[2020-08-12 20:14] vavrecan opened #257 "Padding around emoji images (4px)"
I was wondering, why there is padding 4px around original emojis as the other libraries do not have any
for example "😀":

in twemoji
https://twemoji.maxcdn.com/v/13.0.0/svg/1f600.svg

facebook
https://raw.githubusercontent.com/iamcal/emoji-data/master/img-facebook-96/1f600.png

openmoji
https://raw.githubusercontent.com/hfg-gmuend/openmoji/master/color/svg/1F600.svg

This extra padding makes emoji

[2020-08-12 22:24] carlinmack commented on #257
hey, just to let you know that there is some discussion about this issue here https://github.com/hfg-gmuend/openmoji/issues/112#issuecomment-629439112 I can advise if you have any thoughts :)

[2020-08-13 10:04] vavrecan commented on #112
what about custom overrides that allows this?
https://github.com/vavrecan/openmoji-mod

[2020-08-14 16:18] fuddl opened #258 "what would an openmoji stick figure look like?"
There are a few [stick figures in unicode](https://www.unicode.org/charts/PDF/U1FB00.pdf):

![stick figures](https://user-images.githubusercontent.com/842548/90270111-fad5e980-de59-11ea-902e-c10fe241a58e.png)
![stick figures](https://user-images.githubusercontent.com/842548/90270105-f90c2600-de59-11ea-88c1-b24538617321.png)

I don't think they would look like the full body _person_ emoji:
![](http

[2020-08-17 09:59] nielstron opened #259 "wo*man mountain biking switched"
The Emojis for "woman mountainbiking" and "man mountainbiking" are (according to western gender standarts also displayed in other emojis) switched around. cf. https://openmoji.org/library/#search=bike&emoji=1F6B5-200D-2640-FE0F

[2020-08-25 08:39] Convincible opened #262 "Consider a non-attribution licence (in some cases)?"
Hi there,

Would OpenMoji consider a licence that does not require attribution? – if not for all the emoji, perhaps for some subsets, or in some situations?

This is such a great project which I'd really like to make use of. In particular, your collection of simplified country flags is invaluable for any project that needs to represent countries in a very small space. However, it may be hard or un

[2020-08-25 08:48] carlinmack commented on #262
as far as I know we currently allow the 5th option (Attribution required only once somewhere on a central website, not on each design piece) but would need to get permission from b-g who is the principle lead of the project. This isn't permission, but I would be in favour of pretty much all those options as attribution can be a barrier to use. But as I mentioned b-g has the final word in this :)

[2020-09-02 08:48] Michele0512 commented on #143
Hot face: it is reddish-orange in all other platforms. Openmoji is the only one to show it as yellow. It only needs to change the colour
Black nib: majority of platforms shows it as only the nib of a fountain pen. Some platforms (including openmoji) show it as a entire or almost entire fountain pen. It is very confusing as it is just the same as fountain pen!
Cinema: almost all platforms show as a

[2020-09-10 16:40] Sam0711er commented on #125
Schwoba.de uses OpenMoji to propagate the Swabian dialect. OpenMoji also appear on calendars and other Swag.

https://schwoba.de
https://www.facebook.com/schwoba/posts/3822912921056826
https://www.instagram.com/p/CE1Pkexit5j/?utm_source=ig_web_copy_link

<img width="1331" alt="Screen Shot 2020-09-10 at 18 37 34" src="https://user-images.githubusercontent.com/7760416/92764647-e3c0e380-f394-11ea-851

[2020-09-11 16:30] Michele0512 commented on #143
Construction: it is red and white only in openmoji. In all other platforms is yellow and black

[2020-09-12 21:34] #259 closed

[2020-09-12 23:47] mavit commented on #262
If the licence is under consideration, it's worth noting that the [SIL Open Fonts License](https://scripts.sil.org/cms/scripts/page.php?item_id=OFL) is designed specifically for fonts.

[2020-09-12 23:52] carlinmack commented on #143
Fixed Construction :) https://github.com/hfg-gmuend/openmoji/commit/2622f796d2f5bb1ed65cb47ea68c23a5100850d6

[2020-09-13 11:38] Michele0512 commented on #143
crab: openmoji is only platform that shows crab facing downward. Design of claws could be improved

[2020-09-15 16:12] fuddl commented on #262
I suppose every contributor needs to agree on this. I'd be in.

[2020-09-15 16:19] fuddl commented on #240
Any thoughts on this openstreetmap logo?

Original | Openmoji
--------|-----------
![](https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Openstreetmap_logo.svg/1024px-Openstreetmap_logo.svg.png) | ![OPENSTREETMAP](https://user-images.githubusercontent.com/842548/93236883-a20eaf00-f77f-11ea-954c-a2573d564b19.png)

Unfortunately the original is quite messy. I decided to omit some details lik

[2020-09-15 16:26] carlinmack commented on #240
very cute!

[2020-09-16 08:40] b-g commented on #240
Wow! Super cute! Would love to have an OSM logo in the collection! Only comment (hyper detail): the digital side = it's all about the map data ... does not come across. Original logo has at least some binary 01010101 digits to hint this a tiny bit.

[2020-09-17 16:02] nicdiac commented on #142
Sorry again the impass 🙈 I don't enter to much on GitHub and the mail with the notification got buried on my inbox.

Thanks @b-g and @carlinmack, I'll be doing the corrections to those last ones. It were just concept about the kangaroo and the hippo, just to see if you liked the twist from the already ones. Those things you said, the cluster of the black lines, were actually the ones I had to corr

[2020-09-18 21:59] CuliTif commented on #262
Quick somewhat related question: I'm working on a wiki for Food Not Bombs (a mutual aid group) and was interested in using a lot of the fruit/veggie icons. Would attribution on the file pages for the icons be enough?

[2020-09-18 23:46] kneeluck opened #264 "Special interest emojis: produce items"
Hey, I'm working on a wiki project for a group called Food not Bombs that does work to make meals for houseless folks out of excess produce that might otherwise be wasted. I'd like to use this project to have a consistent style across the wiki for fruit/veggie icons, but there are a few non-unicode icons that I'd find really helpful.

I'm practicing graphic design and hope to eventually make these

[2020-09-18 23:51] kneeluck commented on #264
Also, relevant emojis being added in Unicode 13: blueberries, olives, bell pepper

There are also movements to get some of these emojis included in upcoming updates (like the pea emoji)

[2020-09-22 21:10] nicdiac commented on #142
Hi there! I got the final ones over [here](https://github.com/hfg-gmuend/openmoji/files/5264004/Animals.zip), let me know I you want some modification, even if its minor. I corrected the clustering in the kangaroo and the hippo mainteining the essence of both.

Also check If I exported well the svg's. I'd problems in the past with that and I want to solve it at once. 😅

Cheers and I hear you guys!

[2020-09-26 03:04] lizbravob commented on #138
Hi, I was working on the latest openmoji v13 while you were off, hope it works fine, enjoy doing.

I have a doubt respect the person color if I have to make a different openmoji with each skin tone & I don't know which code corresponds. Well, I'll wait for your comments.

Have a good weekend.
Greetings
[openmoji_lizbravob.zip](https://github.com/hfg-gmuend/openmoji/files/5286109/openmoji_lizbravob

[2020-09-26 10:11] carlinmack commented on #138
Wow these are all great, thanks!

![image](https://user-images.githubusercontent.com/6676843/94338294-171f8700-ffbf-11ea-9fc4-a215a5e0a704.png)

We'll add them in October :)

[2020-09-26 12:40] fuddl commented on #240
Since it is text, it should be depicted with bars, right?

![Screenshot 2020-09-26 at 14 39 11](https://user-images.githubusercontent.com/842548/94340936-0ba37e80-0006-11eb-9cd7-e791d5c6e4e5.png)

more open data platforms btw

[2020-09-26 13:10] carlinmack commented on #240
I'm a big fan of these! thanks so much

[2020-09-26 13:37] fuddl commented on #240
Do you consider anything I posted yet as done? Should I make a commit?

[2020-09-26 13:41] carlinmack commented on #240
You can make a commit/PR if you want, we'll only be looking at them in October (or 5 days away haha)

[2020-09-29 13:22] dnlutz commented on #138
very nice work, thank you!
i especially like the mammoth, the bison and the seal!

here are my suggestions:
1f9a4: what about simplifying the wings?
1f9ab: the beaver looks a bit anxious. what about making it a bit more upright? … and it should be well distinguishable from an ordinary squirrel.
1F977: i would rather design the ninja like a person and not like a smiley (like the [others](https://em

[2020-09-29 14:12] lizbravob commented on #138
Hi, @dnlutz Thanks for your feedback.

I'll give them another spin regarding your suggestions 👍

[2020-10-01 14:59] carlinmack commented on #256
@b-g want to call at some point or email?

[2020-10-02 22:44] Funmoring46 commented on #124
Hello, can I please make 1FA9C - ladder

[2020-10-03 00:05] Funmoring46 opened #265 "Improve the flag of Singapore"
Hello, the singapore star is not a star it is a dot. Can you make it into a star?
![1F1F8-1F1EC](https://user-images.githubusercontent.com/71857158/94978249-61c66500-04d1-11eb-8f3a-cfab5b8481e3.png)
![image](https://user-images.githubusercontent.com/71857158/94978265-77d42580-04d1-11eb-8afb-8ec04964538e.png)

[2020-10-03 00:11] Funmoring46 commented on #265
?????

[2020-10-03 00:12] Funmoring46 commented on #265
It's Oct 2, 2020!!!

[2020-10-03 11:48] fuddl commented on #240
i tried to prepare all the relevant web browsers

![web browser logos](https://user-images.githubusercontent.com/842548/94990775-f935c180-057e-11eb-9cda-99271fad5df3.png)

[2020-10-03 22:25] Funmoring46 commented on #265
#124

[2020-10-03 22:26] Funmoring46 commented on #265
f

[2020-10-03 22:26] Funmoring46 commented on #265
f

[2020-10-03 22:26] Funmoring46 commented on #265
l

[2020-10-03 22:26] Funmoring46 commented on #265
l

[2020-10-03 22:26] Funmoring46 commented on #265
l

[2020-10-03 22:26] Funmoring46 commented on #265
j

[2020-10-03 22:46] carlinmack commented on #265
Can you please stop commenting single letters. We will get back to you

[2020-10-04 00:12] Funmoring46 commented on #265
OK

On Sat, Oct 3, 2020 at 3:47 PM Carlin MacKenzie <notifications@github.com>
wrote:

[2020-10-05 19:52] kneeluck commented on #264
I've also noticed some emojis that don't line up with the OpenMoji style guide. I don't remember all the issues I saw, but I'm gonna start keeping a running list here and come back and update as I find them again:

- the 🍇 emoji uses the dark variation of purple instead of the light version and uses the light version for shading instead of the other way around
- the 🍎 emoji (the red version not th

[2020-10-05 20:08] kneeluck commented on #240
Just to add on to the list:

Twitter and Facebook - Mastodon
Pinterest and Instagram - **PixelFed**
YouTube - PeerTube
Github - GitLab
Android and Windows - Linux
Messager/WhatsApp - **Signal**
iPhone/Android phones - **Fairphone**
Chrome - **Firefox**
Ebay/Amazon - **OpenBazaar**
Patreon - **Liberapay**
**Blender**
**Inkscape**
**VLC**

[2020-10-06 12:53] #256 closed

[2020-10-06 20:10] XYZI0N opened #267 "Copyright Question"
I am making some cover art for a friend of mine for his music album and my question is how am I able to give credit to Openmoji in this sense? If I were to add a message in the picture that the stuff was made by Openmoji, the text will take away from the overall image. So I don't want to add any unnecessary text or copyright info in the picture. I don't even include my own name as the artist for t

[2020-10-06 21:37] kneeluck commented on #264
it's october tho

[2020-10-06 23:27] inferno986return commented on #267
I'm not a lawyer but I would add tiny attribution text to your work to credit the OpenMoji project.

If the album art is just the cover then do this on the cover itself, of there's a tracklist on the back then I would do it there. Something to think about. 😃

[2020-10-07 07:37] dnlutz commented on #258
"symbols for legacy computing" is a really cool new unicode block ; )
the stick figures could look like this?
<img width="513" alt="stick_figure" src="https://user-images.githubusercontent.com/38292227/95301254-a3b02c00-0880-11eb-9320-3100d59a120e.png">

[2020-10-07 08:57] loominade commented on #258
how about having it like a _skeleton_ version of the regular people?

![skeleton](https://user-images.githubusercontent.com/11677380/95309577-9e0c1380-088b-11eb-91e2-9376c3fc1b56.png)

[2020-10-07 09:01] dnlutz commented on #258
also an interesting option!
however further away from the unicode stick figure template.
the dress looks quite tight ; )

[2020-10-07 09:03] loominade commented on #258
I suppose it doesn't have to look exactly like the one in the unicode chart.

[2020-10-07 09:59] loominade commented on #258
I think this dress looks more comfortable:

![more comfortable](https://user-images.githubusercontent.com/11677380/95316642-6190e580-0894-11eb-8986-fdd7dd9bc35f.png)

[2020-10-07 12:50] b-g commented on #267
Hi @XYZI0N! Nice cover! :) Please credit OpenMoji somewhere else e.g. small text inside in the booklet ... and we are good, see https://github.com/hfg-gmuend/openmoji#attribution-requirements. Good luck with the album!

[2020-10-07 12:50] #267 closed

[2020-10-07 12:55] dnlutz commented on #125
there are now already two music videos feat. openmoji (not mainstream yet ; )
[Neon Lite: Batman](https://www.youtube.com/watch?v=USuKnobWaQI&list=OLAK5uy_lWF-CKCx60nDpr5Q_XkmGAQUS4ntAQFXA)
[SABVA - Calling the angels (demo)
](https://www.youtube.com/watch?v=wLDlC0azDgY&t=14s)

[2020-10-07 12:57] b-g commented on #264
Hi @kneeluck,

many thanks for the feedback and interest!

Yes there is always room for improvement, and yes more fruit & veggis emojis would be nice ... however you would have to contribute them on your own. We are busy with maintaining and finish off the remaining ones to fulfill Unicode 13 (see #138, nearly there). Hence we won't be able to help you actively creating those emojis.

Will close t

[2020-10-07 12:57] #264 closed

[2020-10-07 14:22] carlinmack commented on #264
PS I love your feedback on the individual emojis and will move them to #142 or #143 :)

[2020-10-07 14:24] carlinmack commented on #264
I think we could also have the capacity to have an edible mushroom emoji as the main emoji :) Thanks for the detailed list of common fruit and veg that are missing!

[2020-10-07 21:30] lizbravob commented on #138
Holaa 👋
I remade some openmoji :)

[openmojii_lizbravob.zip](https://github.com/hfg-gmuend/openmoji/files/5343947/openmojii_lizbravob.zip)

Grettings

[2020-10-07 21:31] carlinmack commented on #264
Added all your comments to #142 :) I'll tag you after I've closed the easy ones

[2020-10-07 21:34] carlinmack commented on #138
![image](https://user-images.githubusercontent.com/6676843/95390376-47bac700-08c3-11eb-96b6-0dcc5191ab26.png)

all great! you are a star 🌟

[2020-10-07 21:38] carlinmack commented on #124
All done by liz bravo! her emojis can be viewed in #138. This issue will be closed when the emojis are added to the project (probably before the end of the month)

Sorry @Funmoring46, she submitted a design before you made your comment. Lots of easy issues in #142 or #143 though!

[2020-10-07 22:00] carlinmack commented on #265
I've had a look and you're right, feel free to make a PR if you want :)

[2020-10-08 06:53] dnlutz commented on #138
yes, looks great!

[2020-10-08 12:20] b-g commented on #265
Hi @Funmoring46, Many thanks for the interest! This is on purpose e.g. see also flag of USA ... there is simply not enough resolution and OpenMoji in general aims to simply boldly. I hope this works for you too.

[2020-10-08 12:20] #265 closed

[2020-10-08 12:24] b-g commented on #138
Hi @lizbravob Wow! Mega nice! Thank you so much!

[2020-10-08 17:54] carlinmack commented on #265
We have small stars for Christmas Island, Tokelau, etc?

I feel the american flag simplification works because the stars are much smaller and closer together, here they are quite big and spaced out

[2020-10-09 08:03] b-g commented on #265
OK good point. I would vote for as it is. But if you want to change it ... will not veto. Here is a comparison in small size ... I still think dots are better as not enough resolution.

<img width="435" alt="Screen Shot 2020-10-09 at 10 01 15" src="https://user-images.githubusercontent.com/480224/95558502-9af15e80-0a16-11eb-9ac8-07fd6e5207e3.png">

[2020-10-09 16:17] fuddl commented on #240
I don't know if white backgrounds are legal 🙃
![Screenshot 2020-10-09 at 18 15 56](https://user-images.githubusercontent.com/842548/95607065-7e2b4a00-0a5b-11eb-8eee-b872b0440994.png)

[2020-10-09 16:50] carlinmack commented on #240
I think they are preferable for cases like this :)

[2020-10-15 07:38] b-g commented on #257
Many thanks for the script and effort!

I'm afraid but this padding is on purpose:

<img width="179" alt="Screen Shot 2020-10-07 at 14 59 35" src="https://user-images.githubusercontent.com/480224/96090882-28c2c300-0ec9-11eb-8592-7cdd9b5a68c3.png">

We approach the whole topic a bit more "visually" and not so much "technically" does it perfectly fit in a square. The padding allows us to make except

[2020-10-15 07:38] #257 closed

[2020-10-15 07:46] b-g commented on #262
Hi @mavit, Yes it seems obvious that CC is not very suited for some cases e.g. font files. Maybe we could say only the **exported font files** would go under a different non-attribution license? It is a bit shady but we have a similar problem with e.g. the OpenMoji-Stickers in iOS. If you text a message with an OpenMoji there is no CC credit underneath the "image" in the chat.

Thoughts?

[2020-10-15 07:47] #30 closed

[2020-10-15 07:47] #40 closed

[2020-10-15 07:49] vavrecan commented on #257
thank you! I understand.
Do you think it would be possible to make other face emojis closer to other platforms?
For example hugging face emoji https://emojipedia.org/hugging-face/ or Smiling Face with Hearts https://emojipedia.org/smiling-face-with-hearts/
to have hands / hearts closer to face circle? If this would be done then it would be possible to automatically cut emojis to consistent size.

[2020-10-15 09:33] b-g commented on #257
Many thanks for your understanding!

I guess yes this would theoretically be possible ... however the ratio of effort and what we would potentially get from it, makes it a low priority. OpenMoji is non commercial, think love/hobby project, hence we have to realistic in terms of priorities. Top prio is always to support new emojis, to have fun with the project and to make it as accessible as possib

[2020-10-15 09:46] carlinmack commented on #257
I think that we would potentially get a lot from it ![photo](https://user-images.githubusercontent.com/6676843/82107438-98077180-96f5-11ea-871d-21a8211e9e59.png)

but agree otherwise

[2020-10-15 12:48] mavit commented on #262
I'm not a lawyer, but, to make that work, I think you'd need to own the copyrights on the source files, since otherwise the exported files would inherit the licence of the sources and you'd have no right to grant an alternate licence.  You could require all contributors assign you their copyrights (and some people [think this is a good idea](https://www.gnu.org/licenses/why-assign.html) anyway), b

[2020-10-15 13:21] b-g commented on #262
Ok. Many thanks for the thoughts. I guess then we can close this issue as we will and have to stick with CC in terms of licenses.

[2020-10-15 13:28] Convincible commented on #262
@b-g Sorry to immediately comment after you just closed this!

I think @mavit was saying that if the decision was to _retain a restrictive approach with an exception for font files_, then you'd need contributors to agree to special licences, which wouldn't work.

I proposed that OpenMoji adopt a less restrictive approach across the board – that is, not requiring attribution for many other uses – g

[2020-10-15 13:45] b-g commented on #262
No worries ...

RE: Would you consider this to allow OpenMoji to be used in many other situations, where CC-BY is a barrier?

Yes I can think of many situations e.g. album of record cover ... where you don't want give credits directly. Because of this we had from the beginning this hint, see README.md

However I don't think it is realistic to approach all our contributors to make bigger changes ..

[2020-10-16 18:37] vavrecan commented on #257
I would say it is around like 10 or 20 emojis that need to be changed like that. What do you think?

[2020-10-18 11:14] b-g commented on #257
@vavrecan Could you create a list with links so that we could look into? (This is not a promise that it will happen ... but ca. 10 sounds a lot more feasible :)

[2020-10-18 16:49] vavrecan commented on #257
thank you! here is the list that i made from utf-8 emoji list of smileys section

https://raw.githubusercontent.com/hfg-gmuend/openmoji/master/color/svg/1F602.svg
https://raw.githubusercontent.com/hfg-gmuend/openmoji/master/color/svg/1F923.svg
https://raw.githubusercontent.com/hfg-gmuend/openmoji/master/color/svg/1F970.svg
https://raw.githubusercontent.com/hfg-gmuend/openmoji/master/color/svg/1F91

[2020-10-19 10:18] b-g commented on #257
Thanks! We will have a look ...

[2020-10-29 15:44] m-pulgar opened #269 "Guemil-OpenMoji icons kit"
Hi! i'm Monserrat Pulgar a collaborator from **Guemil Icons for Emergency**. Guemil is an open source icon initiative oriented to represent risk and emergency situations, so we've been working with this new icons kit of Covid emergency. I'll leave attached the Zip archive where there's the icons that i've been working on with this last time for its review.

Thank u and stay safe!

[SVG - openmoji.

[2020-10-29 15:52] carlinmack commented on #269
these are so good!! thank you
![image](https://user-images.githubusercontent.com/6676843/97598209-15d9e380-19dd-11eb-9791-250d84fd7b62.png)
I would only suggest maybe having the mask covering the chin? Let me know :)

[2020-10-29 15:58] carlinmack commented on #138
alright, I'm adding them all today 💪

[2020-10-29 16:14] lizbravob commented on #138
Awesome!! You Rock 🤘🏻🔥

[2020-10-29 20:10] carlinmack commented on #138
I think we're missing two actually that I didn't realise and list previously, man with veil and woman in tuxedo

[2020-10-30 10:45] b-g commented on #138
@lizbravob could you also design the remaining last two ones (man with veil and woman in tuxedo)?

[2020-10-30 10:57] b-g commented on #269
@m-pulgar These are great! Many thanks! Comments:

- Same feeling here, it would be better to have the mask covering the chin ... would also reduce line complexity
- we could better express in the hexcodes of "person with mask" and "person sneezing in elbow" the genders as we have all of the 3 ones:
[code]
- I guess the category would be again [extras-openmoji/emergency](https://openmoji.org/libra

[2020-10-30 10:59] b-g commented on #269
Last question ... should `Private Area.svg` replace https://openmoji.org/library/#group=extras-openmoji%2Femergency&emoji=E08B?

[2020-10-30 12:35] lizbravob commented on #138
Hi, @b-g sure!

What do you think about this? can it work?
[missing_openmoji.zip](https://github.com/hfg-gmuend/openmoji/files/5465107/missing_openmoji.zip)

I don't know the hexcode :(

Greetings

[2020-10-30 12:46] carlinmack commented on #138
![image](https://user-images.githubusercontent.com/6676843/97706604-56446a80-1a8c-11eb-9af4-a9a829abfc89.png)
looks great! I'll add it

[2020-11-02 07:35] b-g commented on #258
Hi @fuddl, hope this ping finds you all well! This is just a quick heads up ... there will be soon an OpenMoji v13.0 release. Would be lovely to have the stick figures in it too (+ sidenote: did you ever contribute the nice Firefox logo?). Many thanks for all the nice contributions!! 🙏 Best, Benedikt

[2020-11-03 08:47] fuddl commented on #258
For completeness I wanted the dressed version to be able to do the same as the naked one. But those would be openmoji extra.

   ↘                          | Stick figure… | …with dress
---------------------|--------------|--------------
…                              | ![stick figure](https://user-images.githubusercontent.com/842548/97964221-b3a42880-1db8-11eb-969a-c340156813c3.png) | ![stick fig

[2020-11-03 08:48] fuddl commented on #240
@b-g @carlinmack I will prepare a commit for the browser logos from [this comment](#issuecomment-703090913), okay?

[2020-11-03 10:08] b-g commented on #240
@fuddl Great + super! Also the messenger logos look nice and ready too! :)

[2020-11-03 10:11] dnlutz commented on #258
yes please! i especially like the expressive leaning left and right figures ; )

[2020-11-03 11:05] fuddl commented on #240
@b-g nah, the signal logo does not look like an openmoji 🤨

[2020-11-04 15:39] b-g commented on #262
Closing this. Don't see any quick solution to make this happen :)

[2020-11-04 15:39] #262 closed

[2020-11-04 15:40] b-g commented on #124
Done! Yay! Next 13.1 :)

[2020-11-04 15:40] #124 closed

[2020-11-04 16:03] carlinmack commented on #262
sorry can you clarify what you mean by this?

[2020-11-04 16:07] nicdiac commented on #142
Hey! Someone is doing the improvements for the food ones? Just to take it and advance on it

[2020-11-04 16:09] b-g commented on #262
@carlinmack I don't think "we" (or maybe better "me") could file 70+ legal contracts to have the discussed legal foundation to make really big changes on the licence. OK?

[2020-11-04 16:13] carlinmack commented on #262
ah I see, I was unclear with what bigger changes meant. I think it would actually be more along the lines of https://cla-assistant.io but still quite a bit of effort :)

[2020-11-04 16:16] carlinmack commented on #142
nope, feel free! I didn't catch that you linked the SVGs above, so I'll get to them and add them soon :) sorry about the delay

[2020-11-04 16:17] b-g commented on #262
Good idea ... but just a fraction of the contributors have actually a Github account (most of the HfG students).

[2020-11-04 23:32] carlinmack commented on #142
![image](https://user-images.githubusercontent.com/6676843/98179131-1a663680-1ecc-11eb-8e50-ea6941e94ad2.png)
all look great!

[2020-11-05 21:29] m-pulgar commented on #269
Hi again! hoping you're all fine and safe, i'll leave down here the Open-Moji with the feedback you guys gave me last week!
**Some comments**: I fix the mask and now is covering the chin and fix the hexcodes as Benedikt told me.
And for your question, yes! that one replace E08B. It's an iteration with E0A8.
I'll wait for your comments,

Stay safe!

[SVG-OPENMOJI.zip](https://github.com/hfg-gmuend/

[2020-11-06 01:03] carlinmack commented on #269
![image](https://user-images.githubusercontent.com/6676843/98313459-e65d4500-1fa1-11eb-8a14-78a81dc7aa59.png)
thanks, looks great!

[2020-11-06 11:44] fuddl commented on #258
The question has been answered

[2020-11-06 11:44] #258 closed

[2020-11-06 13:45] b-g commented on #269
Hi @m-pulgar, great + many thanks! I've added everything to the library https://github.com/hfg-gmuend/openmoji/commit/2deb9c60315197955d5362172b45d3e30c3e1a7a. Will be released with upcoming OpenMoji v13 soon. Perfect timing! Stay save and all the best!

@carlinmack could you cross check my "DEnglish" annotations in `data/extras-openmoji.csv`?

[2020-11-06 13:45] #269 closed

[2020-11-08 13:05] fuddl opened #273 "Consitency of Arrows and Geometric shapes"
I hereby propose to make the (black) geometric shapes the darkest shade of grey rather than black. so they look more in line with the arrow symbols:

![arrows and geometric shapes](https://user-images.githubusercontent.com/842548/98465707-0754ae80-21cb-11eb-95d7-eb35b8cca661.png)

[2020-11-08 13:12] carlinmack commented on #273
I propose that all shapes should have a full black #000 fill. @b-g you can decide :)

[2020-11-08 13:18] fuddl opened #274 "Black Stars and Half Stars"
Unicode 11 introduced [half stars](http://www.righto.com/2016/10/inspired-by-hn-comment-four-half-star.html) for things like rating systems.

[Miscellaneous Symbols and Arrows](https://www.unicode.org/charts/PDF/U2B00.pdf):
![half stars](https://user-images.githubusercontent.com/842548/98465924-944c3780-21cc-11eb-81f7-54b5f3b29311.png)
in addition to
[Miscellaneous Symbols](https://www.unicode.org

[2020-11-08 13:18] carlinmack commented on #273
PS I think you missed the middle square here
![image](https://user-images.githubusercontent.com/6676843/98466043-0572f700-219b-11eb-87aa-dbab8673d457.png)

[2020-11-08 13:22] fuddl commented on #273
see also  #274

[2020-11-08 19:13] fuddl commented on #240
I think this issue is bad for two reasons:

* the scope is too big and
* too vague

therefor it can never be closed. I propose splitting it up into smaller (fulfilleable) chunks

* icons for all browser vendors
* social networks
* content hosting sites
* messengers
* you name it…

and close this issue.

[2020-11-08 21:45] carlinmack commented on #240
I just meant Open Source versions of the current brands we have, not all open source brands ever :)

[2020-11-09 12:54] b-g commented on #273
From my end 👍 + good call, looks nicer! ... But handing over for more feedback to @dnlutz

[2020-11-09 12:55] b-g commented on #274
@fuddl Nice! Very handy for building user interface etc.! Could you do a PR with the proposed stars above?

[2020-11-09 12:59] dnlutz commented on #273
i'm also in favor of the darkest shade of grey!

[2020-11-09 12:59] b-g commented on #240
+1 Yes! Quite a few of the open issues are too big and not very actionable. Would be good to partition them into smaller chunks e.g.

- icons for all browser vendors
- social networks
- messengers

@carlinmack ok? Can you/we/me refactor it that way?

[2020-11-09 13:02] carlinmack commented on #273
In favour, but can we adjust these as shown?
![image](https://user-images.githubusercontent.com/6676843/98544326-d70c1f00-2261-11eb-91b5-8abfe44cb8ab.png)

[2020-11-09 13:07] carlinmack commented on #240
that's a broader scope than I'm suggesting? this issue has a confined scope and is exactly the set of emojis listed at the top:

- [ ] Twitter and Facebook - Mastodon
- [ ] Pinterest and Instagram - PixelFed
- [ ] YouTube - PeerTube
- [ ] Github - GitLab
- [ ] LinkedIn - ?
- [ ] Messenger/WhatsApp - Signal
- [x] Android and Windows - Linux
- [x] Chrome - Firefox

[2020-11-09 13:18] dnlutz commented on #273
👍

[2020-11-09 15:14] fuddl commented on #240
Now I understand what this ticket is about 🤣

[2020-11-09 15:15] fuddl commented on #273
I can take care of this if you like

[2020-11-10 16:27] #274 closed

[2020-11-10 18:24] fuddl commented on #273
@carlinmack wouldn't you say this is a case for [overlapping contours](https://openmoji.org/styleguide/#open_contour)?

![overlapping lines](https://user-images.githubusercontent.com/842548/98715082-f3a37680-2389-11eb-9f71-dea0261e2382.png)

[2020-11-10 18:25] carlinmack commented on #273
How do you know the right one is on top?

[2020-11-10 18:30] fuddl commented on #273
well, I decided so 😆

I guess we are allowed interpret what _OVERLAPPING BLACK SQUARES_ means. I suppose _overlapping_ means: one is on the top of another. Unicode does not specify which is on top.

[2020-11-10 19:15] fuddl opened #276 "Box drawing characters!"
in the more obscure corners of unicode I was always fascinated by [Box-drawing characters](https://en.wikipedia.org/wiki/Box-drawing_character):

|        | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | A | B | C | D | E | F |
| ------ | - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | - |
| U+250x | ─ | ━ | │ | ┃ | ┄ | ┅ | ┆ | ┇ | ┈ | ┉ | ┊ | ┋ | ┌ | ┍ | ┎ | ┏ |
| U+251x | ┐ | ┑ | ┒ | ┓ | └

[2020-11-12 07:28] b-g commented on #276
@fuddl wow you are really the master of interesting Unicode corners! From my point of view this is interesting, I'm a great fan of modular type and other geometric systems ... I guess the same goes for @dnlutz! :)

I just would try to avoid using the grey padding area on the very outside and rather use the white area as the "tiles".

Other opinions? cc @dnlutz

[2020-11-12 07:55] dnlutz commented on #276
it would be really cool if we could adjust the size of the tiles to the emoji fonts –
so that you can use the fonts to type the patterns seamlessly fitting.
you can tell which size we need to achieve this?

[2020-11-12 09:48] fuddl commented on #276
@dnlutz I'm not sure if I understand your question: box drawing characters can have any desired aspect ratio. They all should have the same width to allow reliable drawing. We could simply continue using the aspect ratio of openmoji

[2020-11-12 10:53] dnlutz commented on #276
yes they should have the form of squares and i would suggest we stay in the 72 px zone.
it would be cool if we manage to create a font that makes them work seamlessly without spacing.
but as the line width always needs to be adjustet when working with box drawing elements
it's not big deal to also adjust the spacing.

[2020-11-12 15:31] fuddl commented on #276
Okay, let me elaborate about inside vs outside of the bounds

## Staying inside

If we stay inside the box _and_ round contours:

![](https://user-images.githubusercontent.com/842548/98959453-959a9e80-2503-11eb-9c7e-23e798efe427.png)

the tiles couldn't possible be seamless:
![](https://user-images.githubusercontent.com/842548/98959854-004bda00-2504-11eb-8991-ca6ea41fa2c9.png)

## Leaving the safe

[2020-11-13 14:50] carlinmack commented on #273
I actually agree with your interpretation, I was just wondering if you had an intuition behind it. I think this works as we are free to interpret the intent of design, rather than copying the exact character representation :)

Sorry that this issue couldn't be included in OpenMoji v13.0

[2020-11-13 16:39] fuddl commented on #273
I will post a PR over the weekend

[2020-11-16 09:25] b-g commented on #276
@fuddl Many thanks for the super helpful explainer illustrations! I would vote to: Staying inside but do an exception an set the stroke endings to straight. Is this a compromise in a good way we all cc @dnlutz could life with?

[2020-11-16 09:43] dnlutz commented on #276
i would also suggest we take the default square as the base size for the box drawing elements.
the stroke endings should be round to match with the rest (signs like ┴ or ┘) …
but they should also work when elements overlap.
so i'm not sure yet how to handle the colored fillings : /
<img width="489" alt="Bildschirmfoto 2020-11-16 um 10 38 22" src="https://user-images.githubusercontent.com/38292227/

[2020-11-16 16:12] #273 closed

[2020-11-17 07:53] cyberalien opened #279 "Invalid annotation for 2B21-FE0F-200D-1F7E9"
2B21-FE0F-200D-1F7E9 has annotation "brown hexagon", but it should be "green hexagon".

[2020-11-17 10:17] b-g commented on #279
Thanks for spotting and reporting! Fixed https://github.com/hfg-gmuend/openmoji/commit/fff1397ab8993773d79b54cc7d4ac2e1242bba6e

[2020-11-17 10:17] #279 closed

[2020-11-26 18:54] SecularSteve commented on #150
I made my own "Pre-Alpha" version of the last 2 just for a bit of fun.
It's pretty hard to work with Inkscape when you can't properly mirror objects.

But anyways, if any of you can make them better, knock yourselves out. All that's really needed is the quare feathers, claws and better heads for the Albanian flag:

![1F1EE-1F1F4](https://user-images.githubusercontent.com/33793273/100384663-f278778

[2020-11-27 09:41] b-g commented on #125
https://votesup.eu/ open voting tool. Logo is based on "ballot box with ballot".

[2020-11-28 10:50] fuddl opened #283 "About breads…"
1. What do you think about this color adjustment on the regular bread?
   ![toast](https://user-images.githubusercontent.com/842548/100511172-ccf98400-316e-11eb-9d0c-f380806c8710.png)
2. the [industry standard](https://emojipedia.org/bread/) for the bread emoji unfortunately is a boring old toast. In my culture, this is not a prototypical bread. For consistency's sake I'd propose to add **an addit

[2020-11-28 13:51] Voultapher commented on #93
googlefonts/picosvg#65 has been closed. Just played around with nanoemoji 0.4.1 and openmoji 13.0 and got it to work in chrome and firefox:

linux chromium openmoji-color-cff2_colr_0.otf:

![cff2_colr_0-chrome](https://user-images.githubusercontent.com/6864584/100517099-a9dbce00-3188-11eb-8ec6-26b4b44954a4.png)

While nanoemoji can generate colr v1 fonts these don't seem to be supported by browser

[2020-11-28 14:07] mavit commented on #93
It depends on your OS.  They mostly work fine on Linux, but not on MacOS.  I don't think we've heard either way about Windows, yet.

[2020-11-28 14:19] carlinmack commented on #283
Hello!

I've also been unsatisified with our bread emoji and I think it can be reimagined a little. I think that we should keep it a loaf, but lose the mushroom/muffin-top protusions at the top. I contribute this bread-board to the discussion :)

![image](https://user-images.githubusercontent.com/6676843/100517716-cf51e300-315a-11eb-877c-fdb8a6b8b1d9.png)

[2020-11-30 08:41] b-g commented on #283
@fuddl Nice! Yes the bread world is bigger than toast :)
1. (standard) = toast like shape of bread (less musshroomy)
2. (alternative) = more "???" style. However I would still call it **loaf bread**, even if we go with the one you are proposing. (@carlinmack what would be a nice wording which is not inter culturally "offensive". First I was thinking "central European style" but this might sound to

[2020-11-30 09:19] dnlutz commented on #283
Toast is a special kind of bread. So I think it is a good idea to add a normal / default bread.
I like the boule bread approach, but i would suggest to make the colour a bit lighter.
At the moment it looks like pretzel pastries (which I really like btw ; ) but pretzel ≠ "normal" bread.

For the toast i would also make it less mushroomier but i would keep the colour,
if we make the left part white

[2020-11-30 10:44] carlinmack commented on #283
just a nitpick, but as a british person "toast bread" is a subset of sandwich or sliced bread :) when I was in America, this was the normal/default bread as it is in the UK

[2020-12-14 07:28] b-g opened #285 "Make 🤭 1F92D more smiling"
Stumble upon https://twitter.com/slitherpunk/status/1335326567824646144

<img width="581" alt="Screen Shot 2020-12-14 at 08 26 40" src="https://user-images.githubusercontent.com/480224/102052191-1a6c2700-3de6-11eb-919c-5ca594f5517d.png">

Definition according to https://emojipedia.org/face-with-hand-over-mouth/
"Smiling Face with Smiling Eyes and Hand Covering Mouth"

hence I think we should make

[2020-12-14 15:01] carlinmack commented on #285
thought it was already covered under #143 but apparently not, good catch!

[2020-12-17 15:12] lizbravob commented on #142
hi, 😁 can I help here improving emoji?

[2020-12-17 15:31] carlinmack commented on #142
of course!

[2020-12-17 16:37] b-g commented on #142
@lizbravob Please! :) YAY!

[2020-12-18 14:16] lizbravob commented on #285
and if we add blush on the cheeks and change the eyes?
![1F92D](https://user-images.githubusercontent.com/60933333/102624221-79050e00-4122-11eb-9db9-a6d236937eb4.png)

[1F92D.svg.zip](https://github.com/hfg-gmuend/openmoji/files/5716148/1F92D.svg.zip)

[2020-12-18 14:17] carlinmack commented on #285
looks great!

[2020-12-18 17:50] lizbravob commented on #142
I started bottom-up :) hope it works well, and welcome any feedback.
[improving_openmoji.zip](https://github.com/hfg-gmuend/openmoji/files/5717246/improving_openmoji.zip)

Greetings :)

[2020-12-18 19:42] carlinmack commented on #142
![image](https://user-images.githubusercontent.com/6676843/102654609-d0b17280-413e-11eb-985a-5f550b6eb5c3.png)
all look great, two nitpicks:

- could you make the lady bird a bit bigger, so that it touches the circle
- can you adjust this part a little bit? I think it looks good but it could be a bit cleaner
![image](https://user-images.githubusercontent.com/6676843/102654796-2f76ec00-413f-11eb-82

[2020-12-18 19:45] carlinmack commented on #142
Oh also can you make the caterpillar body a bit bumpier? thanks!

![Uploading image.png…]()

[2020-12-21 08:35] b-g commented on #285
@lizbravob Many thanks! Perfect! Just added it with https://github.com/hfg-gmuend/openmoji/commit/879b33797ff4d46bedd7995b0778b6bbb636390a.

[2020-12-21 08:35] #285 closed

[2020-12-22 00:16] lizbravob commented on #142
Holaa! 👋

I fixed the bug, lady beetle & old man. And I redesigned the others :)

Greetings.
[redesign_openmoji.zip](https://github.com/hfg-gmuend/openmoji/files/5727087/redesign_openmoji.zip)

[2020-12-22 01:35] carlinmack commented on #142
![image](https://user-images.githubusercontent.com/6676843/102838261-bcce7080-43cb-11eb-86b0-a55c4b640ec2.png)
Ah so cute!

maybe with slightly shorter arms?

![image](https://user-images.githubusercontent.com/6676843/102838373-03bc6600-43cc-11eb-9f69-63681aaa1ebb.png)

I'll upload the other ones tomorrow :)

[2020-12-22 01:57] lizbravob commented on #142
Sure :)
[redesign_openmoji.zip](https://github.com/hfg-gmuend/openmoji/files/5727327/redesign_openmoji.zip)

[2020-12-22 13:17] b-g commented on #125
Another one by fabulous @lizbravob! (Consider contributing a few of the most generic emojis in it to openmoji-extras ... also the Bob Ross one is mega cute ... might something for [openmoji-extras/people](https://openmoji.org/library/#group=extras-openmoji%2Fpeople))

https://twitter.com/lizbravob/status/1341193539837980672

![EpsYsF4XEAAgMBX](https://user-images.githubusercontent.com/480224/10289

[2020-12-22 17:06] lizbravob commented on #125
YAY! Thank you @b-g for sharing 🤘🏻☺️

[2020-12-23 22:40] carlinmack commented on #142
added in c6ed7af :)

[2020-12-23 22:59] #138 closed

[2020-12-28 02:33] lizbravob commented on #143
Hi :)

I redesigned the faces 👀 Welcome any feedback 😬
[faces_redesign.zip](https://github.com/hfg-gmuend/openmoji/files/5745670/faces_redesign.zip)

Saludos 👋

[2020-12-28 12:55] carlinmack commented on #143
![image](https://user-images.githubusercontent.com/6676843/103215655-fe867c00-48e1-11eb-96da-3c132280d1f5.png)
all great! no fixes :)

[2021-01-03 10:20] woswos opened #287 "Add special face emoji: annoyed face with tongue"
Hi,
I have realized that both in Unicode and OpenMoji, all face emojis with tongues are smiling. However, people don't necessarily smile while sticking their tongue out in real life. For example, the kid below sticks her tongue out to (possibly) indicate an emotion for being frowned/annoyed while still making fun of the situation.

![speech121](https://user-images.githubusercontent.com/10498874/10

[2021-01-04 13:21] b-g commented on #287
Hi @woswos, true! Nice idea! Yes would be nice ... but could you do a few iterations more looking into making it less duck like? cc @dnlutz any hints for us to de-duckify the overall appearance? :)

[2021-01-04 14:26] dnlutz commented on #287
the openmoji [face with tongue](https://openmoji.org/library/#group=smileys-emotion%2Fface-tongue&emoji=1F61B) features an open mouth with the tongue sticking out of it. what about taking this mouth and just flipping it vertically? that could make the whole face less duck-like …

[2021-01-04 15:00] woswos commented on #287
@b-g and @dnlutz, thank you for the interest and suggestion!

I think it looks worse:

<img width="466" alt="Screen Shot 2021-01-04 at 18 57 44" src="https://user-images.githubusercontent.com/10498874/103548254-f076c380-4ebe-11eb-8bb0-4d61bffa5b7c.png">

I will try to come up with more variations.

[2021-01-05 09:12] dnlutz commented on #287
maybe you could try to change the form of the tongue to make it less beak-like?
the two little white spots could become gray or black?
good success!

[2021-01-08 11:52] gromain commented on #125
Hi,

I created Openmoji Awesome, a library that makes the use of Openmoji simple on websites!

It's based on Font Awesome and Twemoji-Amazing.
It allows you to use simple css classes to add emoji to your web content: `<i class="oma oma-face-with-monocle"></i>`

It's available here: https://github.com/gromain/openmoji-awesome

[2021-01-08 15:06] b-g commented on #125
Hi @gromain,

Nice! Thanks for sharing!

If you want you can add it to "Community Extensions" under https://github.com/hfg-gmuend/openmoji/#downloads--distribution-channels ... just gives us a PR. Would be nice to your project listed there.

Tiny sidenote: I find it a bit odd that your README.md holds Tweemojis but your project is about OpenMoji ... maybe replace that image with OpenMojis?

[2021-01-08 15:21] gromain commented on #125
Thanks, I'll do that!

Also, I thought I changed that back when I created the repo. But it seems not. I'll change that now and push the PR afterwards! Thanks for the heads up!

[2021-01-09 12:47] gromain commented on #125
@b-g Done and Done! PR is #288 and I've updated the banner to use Openmojis!

Have a nice week-end!

[2021-01-11 08:27] b-g commented on #125
@gromain Many thanks! Merged! (I tweaked the rather long text a bit, hope this is ok :)

[2021-01-11 08:32] gromain commented on #125
Sure, no worries! Tweak away! Writing is not my strong point! ;-)

[2021-01-14 16:10] woswos commented on #287
@b-g @dnlutz I gave up on de-duckifying the initial proposal. Making the white spots gray or black doesn't work as well.

<img width="100" alt="Screen Shot 2021-01-14 at 18 09 19" src="https://user-images.githubusercontent.com/10498874/104616461-c0d87000-56a3-11eb-8a38-be0cd8ccbf49.png"> <img width="100" alt="Screen Shot 2021-01-14 at 18 08 43" src="https://user-images.githubusercontent.com/104988

[2021-01-15 16:06] dnlutz commented on #287
… interesting move ; ) i think you new designs show your intentions for the emoji much better.
i also like the one you selected, nice!

[2021-01-16 09:39] FoundOne commented on #93
I'm testing the new font form the zip file above. I really like the simplicity of the design of openmoji and I'm glad that I can use it form applications which just use freetype2, but this rendered font is incredibly small, compared to the other emoji fonts. I can barely see what's depicted in a normal text (12-14pt) on my 1080p display of my laptop. The font looks really great when I set it to be

[2021-01-17 12:29] bzed opened #290 "Please provide stickers for signal"
Please generate and upload stickerpacks for signal automatically.
Using https://github.com/signalstickers/signalstickers-client it should be easy to do. IF you think that doing that once is enough, I can give it a try.

[2021-01-17 15:24] carlinmack commented on #290
Ace! We should defo do this, as they're stickers rather than emoji, we should try to use [extras-openmoji](https://openmoji.org/library/#group=extras-openmoji) (and maybe the interesting unicode ones) as they are more interesting and more likely to be used

[2021-01-17 18:26] mavit commented on #93
See #260.

[2021-01-17 19:29] bzed commented on #290
In Signal you have to match a Sticker to an emoji, so it should be rather easy to create stickers for the "normal" emojis, for everything else some mapping would be needed.

[2021-01-18 07:36] b-g commented on #287
@woswos Many thanks! Merged with #289!

[2021-01-18 07:36] #287 closed

[2021-01-18 07:37] woswos commented on #287
Thanks, everyone!

[2021-01-18 07:49] b-g commented on #290
Hi @bzed, good call! It would be nice to have Signal as a new channel to publish OpenMoji! But ... as maintaining things is not much fun, it would have to be done in a sustainable way e.g.:

- `npm run publish-signal-stickers`
- docker container which wraps (with all dependencies) the signalstickers-client
- claim the OpenMoji "namespace" in Signal
- create a Signal OpenMoji dev or sticker publish

[2021-01-20 18:26] mvolz commented on #143
I had a quick go at the pinching fingers...

![1F90F oldsvg](https://user-images.githubusercontent.com/351040/105217104-5b74fb00-5b4b-11eb-8bd6-2f723dfb10ab.png) old version
![1F90F_new svg](https://user-images.githubusercontent.com/351040/105217108-5c0d9180-5b4b-11eb-86ac-58939acb6e82.png) closer pinch
![1F90F v2](https://user-images.githubusercontent.com/351040/105217109-5ca62800-5b4b-11eb-9daf-

[2021-01-21 10:01] b-g commented on #143
Hi @mvolz, many thanks for this! I would vote for the "even closer pinch" :) And yes the index finger looks a bit out of proportion now.

[2021-01-22 09:51] mvolz commented on #143
[pinching.zip](https://github.com/hfg-gmuend/openmoji/files/5854951/pinching.zip)
![1F90F_new2_2](https://user-images.githubusercontent.com/351040/105475457-4dcc8c00-5c97-11eb-9632-53cf978393a9.png)

How is this?

[2021-01-22 10:39] dnlutz commented on #143
i would leave out the knuckles, apart from that it's almost perfect!
… and it will be absolutely perfect if you could please correct these little dents ; )

maybe i would thicken the base of the forefinger a little bit (arrow)?

<img width="590" alt="grafik" src="https://user-images.githubusercontent.com/38292227/105480331-e2d68180-5ca5-11eb-82e6-735a3747d99a.png">

<img width="590" alt="grafik" s

[2021-01-23 11:35] lortas opened #291 "badger face icon?"
It would be great, to have a [badger](https://openmoji.org/data/color/svg/1F9A1.svg) face emoji. Similar like the emoji of the [fox](https://openmoji.org/data/color/svg/1F98A.svg)
:-)

[2021-01-23 21:01] tif-calin commented on #143
Really minor thing, but it bothers me a lot. The carrot emoji is messed up.
![image](https://user-images.githubusercontent.com/76538249/105613981-d07a4780-5d7a-11eb-8ab3-231a0a2f471a.png)

It's a really easy fix. I just opened the svg with Inkscape and moved the lighter orange of the carrot to the bottommost layer. Here's the new svg file

[carrot.zip](https://github.com/hfg-gmuend/openmoji/files/

[2021-01-23 21:06] tif-calin commented on #142
Really minor thing, but it bothers me a lot. The carrot emoji is messed up.
![image](https://user-images.githubusercontent.com/76538249/105613981-d07a4780-5d7a-11eb-8ab3-231a0a2f471a.png)

It's a really easy fix. I just opened the svg with Inkscape and moved the lighter orange of the carrot to the bottommost layer and the regrouped things. Here's the new svg file

[carrot.zip](https://github.com/h

[2021-01-24 11:34] mvolz commented on #143
Corrected bumps but - if you look at the other emojis none of them have the fingers out- we're the only ones. So I think we need to close the fist as well both for consistency's sake and also realism :). Most people pinch with the fist closed.

[pinching.zip](https://github.com/hfg-gmuend/openmoji/files/5862099/pinching.zip)
![1F90F](https://user-images.githubusercontent.com/351040/105628909-ae92c

[2021-01-25 10:22] b-g commented on #142
@tif-calin Many thanks for spotting! Fixed with https://github.com/hfg-gmuend/openmoji/commit/f6af300a94a29ab6ae1014d8e56fffb8b006d368 ... please fix in the future the files of the `src` folder and not exported ones (they don't have the full accuracy). Cheers.

[2021-01-25 13:56] dnlutz commented on #143
yes i think you are right, it's too differrent gestures.
we could keep this one as a special version and put it in extras-openmoji.

hands are quite challenging to draw … would you give the closed pinching hand a try? ; )

[2021-02-01 03:19] lizbravob commented on #143
Hola 🙃

I was improving some openmoji. Welcome any feedback 😬

[openmoji_improving.zip](https://github.com/hfg-gmuend/openmoji/files/5901661/openmoji_improving.zip)

Greetings

[2021-02-01 09:32] mvolz commented on #143
Just one comment on 1F9AA - the emoji is called oyster, but this is unfortunately... a clam. Getting rid of the purple (as it says in the description above so obviously not on you!) is in my opinion not enough because it's the wrong animal :/.

I probably should have mentioned this earlier in the thread before you did the work >.<

Personally I think this emoji needs a total redesign so it actuall

[2021-02-01 09:39] carlinmack commented on #143
![image](https://user-images.githubusercontent.com/6676843/106440892-5bc49e80-6447-11eb-8361-7e47b40a142b.png)

[2021-02-01 13:58] b-g commented on #143
@lizbravob Very nice! Many thanks! Some comments:

- 1F4E6, I would mirror it so that the grey tape runs from left to right and hint a address or label of some kind
- 1F9AA, I agree this should be oyster ... but I would preserve your version in openmoji-extras as an alternative
- 1F9C7, I didn't recognize it being waffles. Sorry :) I would either try a round one like the Apple emoji or a stack of

[2021-02-01 13:59] b-g commented on #143
@mvolz RE pinching hand: Let us know once your have a version with the fist more closed :)

[2021-02-05 07:44] atharva21-stack commented on #291
Hello Sir/Mam,
May I solve this issue?

[2021-02-05 10:11] carlinmack commented on #291
That would be very much appreciated :)

[2021-02-16 11:13] Vrroom opened #294 "How to cite the OpenMoji project in a paper?"
Thanks for curating this dataset!

I was wondering whether there was a bibtex that I can copy-paste for citing this dataset in my paper.

So far, I have come up with:

[code]

[2021-02-16 11:33] b-g commented on #294
That is a good question :) No we don't have that.

But I would not refer to OpenMoji as a dataset, I would rather call an open source emoji or maybe pictorgram set.

Maybe something like this? No really familiar with bibtex, please tweak and discuss here quickly ... so that we can add it to the repo. Cheers.

[code]

[2021-02-16 13:43] Vrroom commented on #294
Really appreciate your response! Yes, what you have suggested works. This is what I'll be adding in my draft.

Thanks!

[2021-02-16 13:43] #294 closed

[2021-02-17 13:48] Ryuno-Ki commented on #143
Since I discovered the pinching emoji on Emojipedia right now, here's a fun fact: It looks like the sign (in sign language) for toilet.
Thumb and pointing finger form a c, the other fingers a w => wc.

[2021-02-17 15:33] dnlutz commented on #143
… that means it is double useful ; )

[2021-02-18 11:50] ikabod opened #295 "Double red flag"
See openmoji.csv lines

3627: 1F3F3-FE0F-200D-1F7E5,extras-openmoji,flags,red flag,,"socialism, communism",Alexander Müller,2020-05-08

3636: 2691-FE0F-200D-1F7E5,extras-openmoji,flags,red flag,,"socialism, communism",Alexander Müller,2020-05-08

[2021-02-18 12:00] carlinmack commented on #295
Hmm yes all the flags in extras are doubled, thanks for "flagging" this :P

[2021-02-18 13:06] ikabod commented on #295
Please help me understand.

I downloaded the svg color archive and used the mentioned csv file to rename them with php to human readable file names.

I can not see that other flags are doubled too. My rename script complains only the red flag as "file already exists".

[2021-02-18 14:44] carlinmack commented on #295
Ah I see, I'm refereeing to this https://github.com/hfg-gmuend/openmoji/blob/master/data/openmoji.csv#L3627-L3643

[2021-02-18 14:44] carlinmack commented on #295
oh never mind, I see the problem now:

`3636: 2691-FE0F-200D-1F7E5,extras-openmoji,flags,red flag,,"socialism, communism",Alexander Müller,2020-05-08`

should be

`3636: 2691-FE0F-200D-1F7E5,extras-openmoji,flags,deep red flag,,"socialism, communism",Alexander Müller,2020-05-08

[2021-02-18 14:45] #295 closed

[2021-02-19 10:35] ikabod commented on #295
Thanks for your response.

Even the red flag is not the same as the deep red flag, I created a script to detect identical files and found 107 of them:

flags | country-flag | flag: Spain [1F1EA-1F1F8]
flags | country-flag | flag: Ceuta & Melilla [1F1EA-1F1E6]

flags | country-flag | flag: France [1F1EB-1F1F7]
flags | country-flag | flag: Clipperton Island [1F1E8-1F1F5]

flags | country-flag | flag

[2021-02-19 10:46] carlinmack commented on #295
Thanks for this 🙏 @b-g thoughts? I think some of these are sort of intentionally like this but would be good to evaluate (as men as default is a bit faux pas)

[2021-02-19 11:20] b-g commented on #295
Currently don't have time to look into it all details but the first ones e.g.

flags | country-flag | flag: Spain [1F1EA-1F1F8]
flags | country-flag | flag: Ceuta & Melilla [1F1EA-1F1E6]

are correct. The flag of Spain and the flag of Ceuta & Melilla are identical.

see https://emojipedia.org/flag-ceuta-melilla/

So I would vote to close this issue as in the past people reported very quickly if a

[2021-02-19 13:48] ikabod opened #296 "Wrong color for the flag of Indonesia"
The color for the flag of Indonesia (1F1EE-1F1E9) should be #ff0000 instead of the same color as Monaco (#d22f27; 1F1F2-1F1E8). Note: The flag for Monaco on Wikipedia has a slightly different color: #ce1126.

https://en.wikipedia.org/wiki/Flag_of_Indonesia
https://en.wikipedia.org/wiki/Flag_of_Monaco

Btw: The links on the homepage https://openmoji.org/library to decodeunicode.org are broken (e. g

[2021-02-19 14:05] carlinmack commented on #296
Hello, the colours on the flags use the most similar colour from the [colour palette](https://openmoji.org/styleguide/#color). This was a design decision from the beginning of the project. We will update the links to https, thanks

[2021-02-22 15:30] b-g commented on #296
Hi @ikabod,

yes this was design decision that the color palette should stay minimal. We even introduced a couple of colors to address the flags.

thanks for spotting! Done and deployed. Cheers!

[2021-02-22 15:30] #296 closed

[2021-03-07 22:30] samhocevar opened #297 "Flag of Slovakia uses light gray instead of white"
The flag of Slovakia (`1f1f8-1f1f0.svg`) uses `#d0cfce` for its upper stripe instead of `#ffffff`. All online sources indicate that this stripe should be pure white. Is it a mistake?

[2021-03-08 10:12] #297 closed

[2021-03-08 10:13] b-g commented on #297
Many thanks for spotting! 👍

Yes this is a bug. Fixed :)

[2021-03-11 11:21] samhocevar commented on #125
I wrote some code that processes the OpenMoji flags, adds a wave effect, and convert them to XAML in order to create flag glyphs that match the Windows emoji style (Microsoft provides a few flags such as rainbow or skull, but no country flags) and added them to the [Emoji.Wpf](https://github.com/samhocevar/emoji.wpf) programming library. The flags use full vector rendering and the result is visual

[2021-03-11 11:31] dnlutz commented on #125
wow, openmoji goes windows ; )
the style matches pretty well … very nice!
thank you!

[2021-03-11 12:38] carlinmack commented on #125
this is so cool! As someone who uses windows, it's very sad that there are no emoji flags

[2021-03-11 12:39] dnlutz commented on #125
… and it's so cool that we didn't have to draw the waves in illustrator ; )

[2021-03-15 07:34] samhocevar opened #304 "What flags are welcome?"
Because of specific needs I have drawn these few flags and I am wondering whether they’d be welcome as contributions.

![image](https://user-images.githubusercontent.com/245089/111116911-0069ee00-8567-11eb-9d54-1fa9bb49ab83.png)

They are:

 - [Senyera](https://en.wikipedia.org/wiki/Senyera), regional flag for Catalonia ([U+1F3F4󠁥 U+E0065󠁳 U+E0073󠁣 U+E0063󠁴 U+E0074󠁿 U+E007F](https://emojipedia.org

[2021-03-15 07:41] b-g commented on #304
Hi @samhocevar,

many thanks for the proposals! IMO they are all welcome cc @dnlutz.

Just note: We already have Catalonia https://openmoji.org/library/#search=Catalonia :) ... And in generals terms we outlined the OpenMoji policy in our Code of Conduct, see https://github.com/hfg-gmuend/openmoji/blob/master/CODE_OF_CONDUCT.md#contribution-guidelines-for-non-unicode-emojis.

[2021-03-15 10:57] samhocevar commented on #304
@b-g ah, thanks! I missed Catalonia because there was a typo in the Unicode sequence (fixed in #305).

[2021-03-18 07:47] #304 closed

[2021-04-12 05:27] wkoszek opened #308 "Tag icon"
It'd be nice to have an icon similar to this one:

<img width="194" alt="image" src="https://user-images.githubusercontent.com/483344/114344592-f9f27600-9b14-11eb-8008-5992abfd4750.png">

Or this:

<img width="532" alt="image" src="https://user-images.githubusercontent.com/483344/114344618-04147480-9b15-11eb-9040-04c363f30b37.png">

[2021-04-12 06:47] b-g commented on #308
@wkoszek Many thanks for the suggestion! Yes! What about giving it a try! :) Happy to discuss your sketches here ...

[2021-04-12 15:30] lexlam opened #309 "How to credite OpenMoji on packaging ?"
Hello OpenMoji !

I'm working for a small French company which is specialiazed into natural solid cosmetics.
Looking for open-source emoji libraries to use it on our future packaging in combinaison with descriptif text, we found out OpenMoji which is certainly the most qualitative. So thank you for creating it and making it available to the public !

We reviewed the attribution requirements and we

[2021-04-13 06:43] b-g commented on #309
Hi Alex!

Many thanks for the interest. We are aware of the problem that sometimes there is simply not enough space to print the credits ... what about a compromise? Maybe:

Minimal super tiny credits on the package:

And then full credits on the package insert:

See also:
https://github.com/hfg-gmuend/openmoji#attribution-requirements
https://github.com/hfg-gmuend/openmoji/blob/master/FAQ.md

Wou

[2021-04-13 15:06] laem opened #310 "Climate & environment"
Hi, I wonder if a task force is already working on bringing more emojis to this category https://openmoji.org/library/#group=extras-openmoji%2Fclimate-environment.

Lots of ideas and needs :)

[2021-04-13 15:51] b-g commented on #310
Hi @laem Many thanks for the interest. Nothing planned. But we are happy to have contributions on this topic. PRs are welcome :)

[2021-04-13 15:51] #310 closed

[2021-04-16 00:49] lizbravob commented on #143
Hola! :)

I made the suggestions :) sorry for the delay.
What do you think?
[Openmoji_.zip](https://github.com/hfg-gmuend/openmoji/files/6321783/Openmoji_.zip)

[2021-04-16 09:10] fuddl opened #311 "Egyptian hieroglyphs"
emoji are often compared with [Egyptian hieroglyphs](https://en.wikipedia.org/wiki/List_of_Egyptian_hieroglyphs#List_of_hieroglyphs) and there are lots of interesting symbols in it. I'd find it an interesting academic exercise to revive those icons in a modern font. Some of them could even be useful as an emoji such as [60+ different types of birds](https://en.wikipedia.org/wiki/List_of_Egyptian_h

[2021-04-16 09:19] loominade commented on #308
there already is [🏷](https://openmoji.org/library/#emoji=1F3F7)

[2021-04-16 09:36] fuddl commented on #311
Is it a good idea? I don't know 🤷

[2021-04-16 09:48] dnlutz commented on #143
thank you!
1F9AA oyster: very nice!
1F4E6 package: what about moving the dark grey thing a bit downwards so that it sits in the middle of the two light grey stripes?
1F9C7 waffle: already a huge step forward ; ) i would recommend lighter fillings. maybe the left and the right side a bit rounder (sketch attached)? with a small gap in between one can see better that it is two waffles on top of each

[2021-04-16 09:59] carlinmack commented on #143
![image](https://user-images.githubusercontent.com/6676843/115008263-e9c1fa00-9e78-11eb-9711-58e96e87b8dd.png)

[2021-04-16 10:00] carlinmack commented on #311
I think those two you mention at the end would make good openmoji :)

[2021-04-16 10:05] lexlam commented on #309
Hi Benedikt !

Thanks for your quick answer.

Indeed, space is one of the main problems we face when designing a new packaging: each word counts :)

The compromise you suggest seems perfectly achievable and suits to us ! Now we know exactly how to correctly credite OpenMoji on our packaging :)

We are only at the beginnings of the development of our project but we will certainly share the results

[2021-04-16 10:19] b-g commented on #309
Best of luck with it! Looking forward to! :)

[2021-04-16 10:19] #309 closed

[2021-04-16 12:28] b-g commented on #311
Interesting! But sounds a bit more like an off-topic too me.

[2021-04-16 17:29] fuddl commented on #311
I understand. feel free to close this ticket then.

But here is my try on the [eye of horus](https://en.wikipedia.org/wiki/Eye_of_Horus). I used the [unicode specification](https://www.unicode.org/charts/PDF/U13000.pdf) as a template because it was the most minimalistic version i could find and i trust that the unicode people know what they are doing 😅

![EYE OF HORUS openmoji](https://user-images

[2021-04-17 07:58] Quasarman opened #312 "Why is there a transparent border around the emojis?"
Hello,

I was wondering why each emoji image is "warpped" with a transparent border and does not have the full size? This is really unintuitive if settings the emoji image to be a fixed size, e.g., 20px. It appears smaller than the expected size. When comparing the pictures to the twemoji assets they do not have this border and therefore will correctly be displayed with 20px size if configured tha

[2021-04-18 12:52] b-g commented on #312
Hi @Quasarman!

Many thanks for the interest! You might want to check out this for OpenMojis without a padding :)

https://github.com/vavrecan/openmoji-mod

The whys have been discussed here: #257, #276.

[2021-04-18 12:52] #312 closed

[2021-04-18 12:57] b-g commented on #311
Hi @fuddl! OK it looks nice! Already have way convinced ... :) However I would then vote to introduce a new subgroup: openmoji-extras / egyptian-hieroglyphs but in order to justify an new subgroup one would have to have a set of emojis and not just a single one. Also an expert of Egyptology would have to give a green light in terms of readability too.

Thoughts @dnlutz @carlinmack?

[2021-04-19 15:32] laem commented on #310
Well I'll start here with some ideas : https://github.com/laem/openmoji-environment/blob/master/coal-plant.svg

[2021-04-23 12:49] b-g commented on #143
Added with https://github.com/hfg-gmuend/openmoji/commit/889fc9a667ad8e09f3229b70dade82f8a95b3136 5 new 13.1 ones and 2 improvements. Contribution by Nelly Nieter. Thanks!

Moved old Fog to Foggy Mountain in extras.

<img width="1054" alt="Screen Shot 2021-04-19 at 09 22 34" src="https://user-images.githubusercontent.com/480224/115873160-e9aa9700-a442-11eb-9904-b9c2922c6a44.png">

[2021-04-26 10:12] dnlutz commented on #311
thank you for sharing the idea @fuddl
although i'm not an expert for hieroglyphs i think it will be rather difficult (maybe even impossible) to porperly "emojify" them.
it might become more of a mashup …
so i would suggest to leave the hieroglyphs as they are and keep the focus on "real" emoji.

[2021-04-27 03:04] lizbravob commented on #143
Holaa :) how about these waffles?

Perspective is hard for me, haha 👎 I'm trying.
[Openmoji.zip](https://github.com/hfg-gmuend/openmoji/files/6381552/Openmoji.zip)

[2021-04-27 06:25] b-g commented on #143
Nice! Plz check @dnlutz

<img width="999" alt="Screen Shot 2021-04-27 at 08 22 33" src="https://user-images.githubusercontent.com/480224/116195058-fc1e1c80-a731-11eb-99f5-438ac070ac95.png">

[2021-04-27 14:37] dnlutz commented on #143
i like it, thank you … the waffles look much fluffier now ; )

[2021-04-28 11:26] b-g commented on #143
@lizbravob quick double check: Will use these improvements to update the existing OpenMojis. OK? (Or did I loose anything over course of the winding thread above?)
<img width="1054" alt="Screen Shot 2021-04-28 at 13 23 16" src="https://user-images.githubusercontent.com/480224/116396184-59df6100-a825-11eb-85ee-a4e222601091.png">

[2021-04-28 13:35] lizbravob commented on #143
YAY it's ok :)

[2021-05-02 04:42] lizbravob commented on #143
I had time to do the missing ones from this list 🙂ji
[openmoji.zip](https://github.com/hfg-gmuend/openmoji/files/6410776/openmoji.zip)

[2021-05-02 04:55] lizbravob commented on #142
..and also from this list :)

Some openmoji are repeated in #143. I'll be pending for your feedback 😬

[openmoji.zip](https://github.com/hfg-gmuend/openmoji/files/6410790/openmoji.zip)

[2021-05-03 10:02] b-g commented on #142
Wow! Nice! @dnlutz @carlinmack Comments before I merge it?

<img width="1054" alt="Screen Shot 2021-05-03 at 12 01 47" src="https://user-images.githubusercontent.com/480224/116863985-6ab61b00-ac07-11eb-87eb-3c8a71fc0193.png">

[2021-05-03 10:07] b-g commented on #143
Wow nice II! @dnlutz @carlinmack anything to add before I merged it?

<img width="1054" alt="Screen Shot 2021-05-03 at 12 03 14" src="https://user-images.githubusercontent.com/480224/116864077-920ce800-ac07-11eb-97c9-b096fd56b1c9.png">

[2021-05-03 11:07] carlinmack commented on #143
wow great!!

[2021-05-03 11:09] carlinmack commented on #142
all great! would be good to preserve the old mushroom design and maybe some others

[2021-05-04 09:01] b-g commented on #143
Yay! I think we are done with this one. Closed. Many thanks @lizbravob 🙏❤️!!

[2021-05-04 09:01] #143 closed

[2021-05-04 09:07] b-g opened #313 "Improve hands: pinching fingers and ok hand sign"
- [ ] [pinching fingers](https://emojipedia.org/pinching-hand/)  Pinching fingers should be closer
- [ ] [ok hand sign](https://emojipedia.org/ok-hand-sign/) This and Pinching Hand above look like they have webbed fingers when displayed on a dark background. This will require a lot of thought and discussion to fix - #86

[2021-05-04 09:07] b-g commented on #142
Yay! I think we are done with this one. Closed. Many thanks @lizbravob and @carlinmack  🙏❤️!!

[2021-05-04 09:07] #142 closed

[2021-05-04 10:32] #291 closed

[2021-05-10 08:44] #283 closed

[2021-05-14 15:11] bam80 opened #317 "flag icons get blurry when downscaled"
Hi, we are considering to swap old raster icons used in KDE keyboard layout applet to Openmoji, but faced with the blurring problem: SVG icons looks ugly being fitted to panel size:
https://phabricator.kde.org/T13722#255660
Here I suggested a theory what's going on, not sure about the correctness:
https://phabricator.kde.org/T13722#255709
Could you guys help us by any mean?
@ferdinandsorg

[2021-05-16 00:26] Kxeo opened #318 "Flags just showing as 2 red X squares"
For some reason, this happens on youtube.
Everywhere else it's just fine, and I'm using Firefox here.
![Screenshot 2021-05-15 191928](https://user-images.githubusercontent.com/50978401/118381709-7e706280-b5b3-11eb-9d18-59cc6830b19c.png)
That was supposed to be the mexico flag.

[2021-05-16 00:36] Kxeo opened #319 "OpenMoji not working in Opera GX"
Self explainatiory. Opera GX and Opera don't work with OpenMoji. Before, the font wasn't there, but when I use the font, it doesn't do anything. Sometimes it shows a rectangle for flags but it just doesnt work.

[2021-05-16 10:11] carlinmack commented on #319
the fonts are early beta and don't work yet in mainstream browsers, hopefully #260 will solve these issues

[2021-05-16 10:11] #319 closed

[2021-05-17 06:04] b-g commented on #318
Many thanks for the interest ... but as @carlinmack already has stated

Help is welcome. Please read beforehand the entire of #93 and #260 to bring you up to speed.

[2021-05-17 06:04] #318 closed

[2021-05-17 07:52] b-g commented on #317
Hi @bam80,

Nice! Glad to see that big project like KDE are even considering OpenMoji :)

Some ideas (brainstorming):
- the native height of the flags is 38 px. You will get non-blurry results if the flag has a height of either 38px or is multiplied with an integer e.g.  38 * 2, 38 * 3 etc. Do these heights by any chance fit with the height of your panel?
- we also have an alpha version of openmoj

[2021-05-17 12:37] bam80 commented on #317
Thank you for your answer Benedikt!

- our old icons are mostly 21*14: https://lxr.kde.org/source/frameworks/kdelibs4support/src/l10n/,
but panel can be resized smoothly in real-time.
- I'm not aware about rendering color-fonts, but could try
- yeah, that double-scaling approach came to my mind too. I just considered twice-scaling of original png's.

My personal feeling currently is we need some f

[2021-05-17 13:51] b-g commented on #317
I see ... 14px is really really small and unfortunately 38/2 is 19 px. Would there be 5px more space to fit it in the panel?

Providing additional pngs is out of scope for us. We currently have 72x72, 618x618 and svgs (see folders `black` and `color`) ... but you could very easily generate them on your own. Basically just modify these lines and run `npm run generate`.

https://github.com/hfg-gmuen

[2021-05-17 14:04] bam80 commented on #317
It's still ~1.5 times more, but we need to see..
We'll try to generate some samples when get a chance and I'm eager to see how it looks like :) Thanks!

[2021-05-17 14:08] b-g commented on #317
Great! Good luck! Let me know if you need pointers in our repo.

The most future proof still would be to render color-fonts ... might be something to investigate in your renderer in the long run.

Will close the issue now. Re-open if there is anything to add.

[2021-05-17 14:08] #317 closed

[2021-05-18 12:42] bam80 commented on #317
Hello, seems we are having troubles generating the PNGs, because of the dependencies and such.
If it doesn't bother you, it would be cool if you could generate some sample for us, with 19 and 38 px.
Thanks!

[2021-05-18 13:02] b-g commented on #317
I'm afraid ... but this is a bit out of scope :) Sorry! But it should be really easy. Install node.js e.g. v14.x and these 3 additional command line dependencies. Should be very Linux friendly, check https://github.com/hfg-gmuend/openmoji/tree/master/helpers#additional-dependencies

[2021-05-28 21:47] SwarmShepherd commented on #311
Not an expert on hieroglyphs  by any means, but we are a team working with the Bliss Symbolics language.  This is a 1940's visual language that our small international team is working to take into the Digital Age, with all respect to the purity and purpose of the original.   OpenMoji has been on our radar for months...   completely admire your project btw!

We are using Cartouches (very Egyptian l

[2021-05-28 23:16] SwarmShepherd opened #320 "FROG - with emphasis on (simple) Recognition"
This is the current Openmoji design:

![image](https://user-images.githubusercontent.com/1083635/120046997-18370700-bfd9-11eb-83a0-4b945c01b87f.png)

In  the Bliss Language system the Animals, where possible are shown in a uniform moving Right profile such as Dog & Cat following:

![dog](https://user-images.githubusercontent.com/1083635/120048968-41a66180-bfde-11eb-83bf-3b411ce80943.PNG)

![image]

[2021-05-29 23:30] SwarmShepherd opened #321 "Is there a desire to systematize the basic "Feelings" Mojis?"
There are easily over 270 words dedicated to Feelings in the English Language.  I have tried a 2 axis system, and a Mood Map method with only limited success for the 38 or so expressions I consider somewhat basic (can easily add >20 more?):

![40Emoji_on2Axis](https://user-images.githubusercontent.com/1083635/120087115-f5752300-c0aa-11eb-9a23-3412b8d4d054.png)

Now I have spent hours matching a ba

[2021-05-30 16:59] SwarmShepherd commented on #321
This is how Bliss Symbolics handles many of the same Feelings.    Note that it is possible to distinguish between the FEELING of confusion and "Mental Confusion" which seems to me to be a useful distinction impossible to express with facial expressions alone....
![image](https://user-images.githubusercontent.com/1083635/120113013-2c484900-c13e-11eb-986f-ac7341e043a6.png)

Here's the entire set as

[2021-05-31 04:59] beunice opened #322 "Add more US State Emojis."
Interested in adding support for all 50 US states, in particular, the decently designed flags such as New Mexico, Colorado, etc. with minor alterations to none at all. Even some SOB(Seal on a bedsheet) designs could be applicable, using my home state of Louisiana as an example below. The below table will be updated over time as more flag designs are proposed. Any design help would be greatly appre

[2021-05-31 12:24] b-g commented on #322
Deat @beunice,

Many thanks for the suggestion and offer! Sounds good!

Just we are a bit picky when it comes to flags and visual complexity :) It took us a very long time to greatly reduce the complexity of all the flags e.g. flag of [Spain](https://openmoji.org/library/#group=flags&emoji=1F1EA-1F1F8). Hence please expect that flags like SOB will not be a one shot, but rather will need a few iter

[2021-05-31 17:01] beunice commented on #322
I completely agree with you!

I understand that the US State flags are a very strange case(All though the flag nerd in me would love to see the [Japanese Prefecture Flags](https://en.wikipedia.org/wiki/Flags_of_Japanese_prefectures) in OpenMoji form) and many flags are designed quite badly or essentially not at all making them very difficult subjects, see the [Flag of Nevada](https://en.wikipedia.

[2021-05-31 18:10] SwarmShepherd commented on #321
An old "buzzword" for how these can relate is "Mood Map", and another (rather amazingly popular/new?) related buzzword is: "Zones_of_Regulation" which seems to be about teaching children to recognize their Moods.   This is not the primary use of the OpenMoji symbols for sure, but there is an interesting overlap.

Also for our future purposes, I have found a set of Facial Expressions Combined with

[2021-06-01 07:01] b-g commented on #322
Great that we are on the same page :) What about the following approach:

1. warm up with all the easy State flags e.g. Colorado (they must be a few :)
2. Pull Request
3. tricky ones e.g. Nevada
4. Pull Request

The table is great ... just add the hexcode too.

| State Name | OpenMoji  | Official | Hex Code |
| ------------ | ------------- | ------------ | ------------ |
Colorado  | ![co-demo](htt

[2021-06-01 08:30] Crissov opened #323 "Compatibility emojis for existing Unicode codepoints"
Some vendors traditionally ship emoji glyphs for Unicode characters that have not been recognized by Unicode as RGI (recommended for general interchange) as emojis.

- Samsung: https://github.com/Crissov/unicode-proposals/issues/284
- Microsoft: https://github.com/Crissov/unicode-proposals/issues/285
- LG: https://github.com/Crissov/unicode-proposals/issues/287
- Emojitwo: https://github.com/Emoji

[2021-06-01 11:04] b-g commented on #323
Hi @Crissov, Many thanks for this ... but I'm afraid this would take us literally years :) This seems really not to be actionable. Sorry! Please split into smaller chunks or come up with a strategy/ideas to actually achieve this. Or did I miss something? Closing.

[2021-06-01 11:04] #323 closed

[2021-06-01 19:06] Crissov commented on #323
I agree this would be a lot to tackle at once, even if some characters are just minor variations of others or simple symbols. I’d suggest the following subsets for starters:

- Hands
- Mahjong pieces
- Chess and draught pieces
- Die faces
- Genealogical and astronomic symbols

[2021-06-02 04:28] beunice commented on #322
Sounds good! I'll implement those changes and use that workflow. I think that'll work well.

[2021-06-02 06:21] b-g commented on #322
👍. Looking forward to your contributions! :)

[2021-06-02 06:23] dnlutz commented on #322
me too! go for it ; )

[2021-06-03 21:23] SwarmShepherd commented on #321
Perhaps I should be using some other Channel to communicate,  converse on visions?   We have tested now only down to age 7 with some good luck, my great hope so shape the project that we can teach to pre Natural LANGuage children.   This is a very special age where learning can be rapid and easy.   We are mapping to Multiple NatLANGS then at the phonetic level with such as Stories.   Our very firs

[2021-06-04 06:51] dnlutz commented on #311
Thank You for Your highly interesting input – and sorry for the late response. The reason is that I really had to think a bit about the topic. Personally I am a huge fan of the Bliss Symbol System already for a long time.

But I would rather not merge it into our Emoji System for the following reasons:

- the Bliss Symbols are very abstract while emoji are more illustrative and mostly depict concr

[2021-06-04 06:59] dnlutz commented on #311
Here's a sketch, I tried to compare Bliss Symbols with icons and Emoji.
From abstract symbols to concrete illustrations.
<img width="930" alt="bliss_icon_emoji" src="https://user-images.githubusercontent.com/38292227/120759230-1b6b4f00-c513-11eb-9011-2e797783cab6.png">

[2021-06-04 09:56] SwarmShepherd commented on #311
Daniel Utz,

I am not looking for  general melding along a wide surface of intersection,  but rather most specifically where FUNuage.org for our young aim audience,  recognize that the  Bliss Symbols System lacks consistency and discernment.   One such area is Animals, and the other are Human Emotions.  Two areas precisely where I believe the Mojis have a particular universally recognized strength

[2021-06-07 17:08] Kxeo opened #324 "Am I able to embed OpenMoji with Windows so it's displayed everywhere?"
The title explains what I'm saying here, I want to make it so that I can put it into my emoji picker, and allowing me to see the emojis and put them in, then displaying the OpenMoji that I picked.

[2021-06-07 17:10] Kxeo commented on #324
This needs the tag "nice to have"

[2021-06-08 06:33] b-g commented on #324
Hi @Kxeo, I'm not on Windows so no idea. Sorry! @carlinmack do you know more?

[2021-06-16 21:07] Extarys opened #325 "Blob/Emoji Kitchen"
I have no talent in graphic stuff but I was curious to know if there is a plan to implement the blob emoji? (Is that what they are claled?)

I read today [this blog post](https://blog.emojipedia.org/emoji-kitchen-beta-magics-back-the-blobs/) talking about it.

- [Mending heart](https://emojipedia.org/mending-heart/)

Some of them can be implement client side wise though. I'm not sure what would be

[2021-06-17 12:19] b-g commented on #325
Hi there! Many thanks for the interest! But "blob emojis" are exclusively done by Google (for their product e.g. Androind). We won't be stepping on Google's toes and are going to leave the blob world to them. Sorry! All the best

[2021-06-17 12:19] #325 closed

[2021-06-21 18:01] woswos opened #326 "Release date for OpenMoji 13.1?"
Hi everyone!

What is the planned release date for OpenMoji 13.1?

[2021-06-22 05:59] b-g commented on #326
Hi @woswos, yes ... we are a bit behind. OpenMoji v13.1 is planned for the very beginning of Juli. We first wanted to add some multi-skintone features to /library of OpenMoji.org (the website), so that people could find and browse those emojis. Which happened over the last weeks, so we don't have any longer an excuse to sit on a new release. Stay tuned!

[2021-06-23 13:23] carlinmack commented on #324
As far as I know, there is no way to change the default emoji font on windows. I would investigate if this is possible with say Apple emojis and then what type of file needs to be provided.

[2021-06-23 13:34] carlinmack commented on #321
This is the correct channel to raise this, however I think that this is outside the scope of this project. Your contributions in your issues are high quality and interesting, but it's difficult to see actionable steps we can take. I think the aim of the BLISS system (a universal language) is quite different to that of OpenMoji (a useful set of icons to add to written text).

This is how I see it,

[2021-06-29 13:35] #326 closed

[2021-06-29 22:01] townseev opened #327 "Potential Antarctic Flag Emoji"
Hey Openmoji community,

I have a potentially complicated question regarding the Antarctic flag emoji that I'd love to have your input on.

Here are the basics:
- The Antarctic flag emoji (🇦🇶) appears as a light blue flag with a white silhouette on all supported platforms.
- **This design has no official status whatsoever.** It was simply the most popular of dozens of unofficial proposals at the t

[2021-07-06 20:41] ndom91 opened #328 "Readme: Github Darkmode Ruins Header Image"
Hi everyone, I just stumbled upon your repository here and almost had a heart attack when I saw the image in the header of your readme. It was only after I visited your homepage and saw the "real" version did I realize what had happened.

Github darkmode seems to use the same, or similar color, as its background-color as you do for the "stroke" in some of your emojis. Causing your readme header im

[2021-07-07 06:46] b-g commented on #328
Ups. Many thanks for the pointer! Yes we badly need a dark mode soon! Will fix it with a white background.

<img width="1157" alt="71999652-1a60c000-3242-11ea-974a-96fef098147b" src="https://user-images.githubusercontent.com/480224/124712580-c8b0f880-deff-11eb-8516-3def8df2a42e.png">

[2021-07-07 06:48] #328 closed

[2021-07-07 10:20] ndom91 commented on #328
Ah now that I'm looking at this on another monitor, the black from the stroke and the black background have a bit more contrast.

On my macbook last night when I created this issue, they looked identical and the yellow "loops" at the top of the fingers made the character look like salad fingers haha.

[2021-07-16 20:06] mycelialinn opened #329 "Mermaid/Merperson/Merman"
The mermaid has a face matching skin color, while the merman and merperson have a blank face. Everything else about them seems fine.

[2021-07-17 06:06] b-g commented on #329
Hi @greenserenabean, many thanks for reporting. Please provide links and images. Thanks.

[2021-07-17 12:49] zerorabb opened #330 "Improve: birthday cake"
Gotta say I love the OpenMoji project and I'm interested in how it develops. Looking at some of the emojis for use in creating documents for personal projects, I noticed a few emojis that I think could do with improvement, one of them being the birthday cake emoji.
![image](https://user-images.githubusercontent.com/87571051/126037243-412581a8-75fe-481c-8c10-f3852e0e8d5e.png)

Other emoji systems r

[2021-07-17 13:31] b-g opened #331 "🏝 OpenMoji is on hold over summer"
🏝 OpenMoji is on hold over summer (project maintainers are out of office until Oct 2021).

[2021-07-18 16:47] karthiceaswar opened #332 "Issue when using in android. Only outline appears for Openmoji-color"
I tried using the openmoji color ttf in my android using magisk. even though its applying it only displays outline.
![photo6314367752604856517](https://user-images.githubusercontent.com/74752653/126075423-16b7ce38-1be7-42f3-9eaf-a975ba266dca.jpg)

[2021-07-19 21:43] greenserenabean commented on #329
![Screenshot_20210716-145705_Chrome](https://user-images.githubusercontent.com/65576637/126231344-c82d7083-4d4b-4a20-be3b-e30ac32b0632.jpg)

[2021-08-05 08:36] SwarmShepherd commented on #321
I have been categorizing the Bliss Symbols more or less full time for the last 3 weeks, and I am privileged to be in discussions with the Swedish individual responsible for the amazing Xelify.se site (where you can search by shapes in the 6,000 strong Character set that is Bliss...

As we are looking to classify all symbols into one or more of the approaching 100 Groupings this has been a bit of a

[2021-08-05 08:43] SwarmShepherd commented on #321
At this point, I have cataloged over 50 Emotions such as this amazing (ah-ha) symbol:

![image](https://user-images.githubusercontent.com/1083635/128319839-4149d801-4cfb-4f33-a3ee-c8c4b0f3bcd0.png)

[2021-08-05 08:46] SwarmShepherd commented on #321
![confusion-mental](https://user-images.githubusercontent.com/1083635/128320888-d97eb282-896b-4e87-98dd-825ce16c5d80.PNG)

[2021-08-05 08:50] SwarmShepherd commented on #321
I was originally thinking when posting here that "if not emotions then when to use Emoji" to extend Bliss for Children, but now I am not so sure who has what to learn from whom.   I cannot think such refinement can be expressed with faces, or even with body language...

[2021-08-11 13:49] Xyndra opened #337 "Numbers and Letters like äöüß missing"
Please add numbers and letters like aöüß to the ttf file

[2021-08-11 16:42] emeeji opened #338 "Openmoji usage"
I'm currently working on a project that uses the wonderful work you do at openmoji that falls under an area of commerciality that I don't see addressed on the website. I wanted to get your feedback on attribution as well as your blessing for the usage before going forward.

[2021-08-15 20:18] kevincox opened #339 "Some black elements in SVG sources are being rendered with current font colour in TTF font"
It appears that some strokes on the emoji use the font colour. This looks bad when the font colour is not black as expected.

Example:

[code]

![image](https://user-images.githubusercontent.com/494012/129491567-47235576-4747-4d27-b410-db9f36770fbf.png)

Expected behaviour:

Most emoji should not incorporate the default font color into the design.

[2021-08-19 03:39] MelihDarcanxyz commented on #93
My Firefox browser shows everything with colors but unfortunately I can't get colorful emojis on Brave (Chromium spin-off).

[2021-08-22 22:19] Bollos00 commented on #125
Hi there. I am using OpenEmoji on my open source minesweeper clone, [LibreMines](https://github.com/Bollos00/LibreMines). I am very thankful for the authors.

![Screenshot from 2021-08-22 19-15-11](https://user-images.githubusercontent.com/53309405/130371771-a4540ba0-5b2e-4608-ad9c-93f3327e1f6b.png)
More screenshots [here](https://github.com/Bollos00/LibreMines/tree/master/share/Screenshots).

[2021-08-28 04:04] theotheroracle commented on #125
i'm planning to use it in my flutter matrix client, midnight

[2021-08-29 07:31] shaurya1709 commented on #150
Also the Indian flag appears broken in the font versions.

[2021-08-29 07:35] shaurya1709 commented on #93
I think we should change to compiling fonts with nanoemoji.
There is an older version by @Voultapher that loads the colourful emojis in Brave. And it is not as buggy as the current version

[2021-08-29 11:29] carlinmack commented on #93
see #260 for the saga of using nanoemoji instead :)

[2021-09-02 05:12] SwarmShepherd commented on #321
We are moving ahead some on our ideas to Systematize things...  found a large body of work around "Zones of Regulation" which assigns 4 Feelings to each of 4 Zones.   The Zones are from Blue( low energy) to  Red for danger.   Using these colors is free for us, so this decision is easy!

Of all things, Bliss is a system of 6,000 Symbols but, such as the mix of "Feelings" is not well or consistently

[2021-09-02 05:22] SwarmShepherd commented on #321
The vocabulary level in our game is now about 160, and at about 300 we will be adding STORIES that will rely on being able to represent some basic "Feelings".  So we keep trying to do what we can do.

We are mapping the symbols to various NatLANGS, we just added Icelandic, but in next days we will also have some words recorded for the Ojibwe First Nation of North American,  but soon, any day,  als

[2021-09-03 13:58] Delapouite commented on #226
Hello @carlinmack . Sorry if I am a bit off-topic, but in situation like this, you can achieve this kind of recursive search of patterns through text files, with more simpler tools like `grep` instead of relying on Python script.

In this case something like `grep -rl opacity src`

Hope it helps.

Cheers

[2021-09-03 14:43] carlinmack commented on #262
Public discussion of our license https://news.ycombinator.com/item?id=28403894

[2021-09-04 11:48] Cyrille37 opened #341 "unicode link broken (decodeunicode.org)"
Hello
Thanks a lot for this fabulous work! So lovely <3

By the way, on openmoji card, eg. [1FAC2](https://openmoji.org/library/#group=people-body%2Fperson-symbol&emoji=1FAC2), the unicode link https://www.decodeunicode.org/en/u+1FAC2 does not work but those work:
- https://www.decodeunicode.org/en/u+1FAC2
- https://emojiguide.org/people-hugging

Regards & cheers

[2021-09-04 17:28] ddevault opened #342 "The OpenMoji butterfly emoji depicts a dead butterfly"
Living butterflies don't hold their forewings ahead of their head, and instead keep them further back - forming a shape more like a trapezoid. It's only when they're pinned up for display that the wings are set in the positions shown in the emoji. So the butterfly emoji depicts a dead butterfly. :frowning_face:

![](https://upload.wikimedia.org/wikipedia/commons/6/63/Monarch_In_May.jpg)

![](https

[2021-09-05 08:15] andersjohansson opened #343 "The OpenMoji iceberg floats in an unrealistic unstable orientation"
For a discussion of this common mistake see: https://twitter.com/GlacialMeg/status/1362557149147058178
And an interactive visualisation: https://engaging-data.com/iceberger-remixed/?h=

Kind of a similar issue of realistic representations as #342

[The iceberg emoji](https://openmoji.org/library/#emoji=E2C0)

[2021-09-06 23:25] raulriera commented on #125
Love this initiative, I was using another provider for "emoji stickers" an iOS application for composing emojis by overlaying them together. In this upcoming PR it will be 100% supported by Openmoji. Thanks for this amazing set!

https://github.com/raulriera/EmojiStickers/pull/3

[2021-09-18 08:55] dnlutz opened #344 "Unicode Emoji 14.0"
dear fellow emoji designers,

this week unicode officialy launched the additions for emoji 14.0!
https://www.unicode.org/emoji/charts-14.0/emoji-versions.html

we have to keep up to date … will we be able to do this by the end of the year?
https://twitter.com/Emojipedia/status/1437788665661509639?s=20

every collaboration is welcome: professional designers, enthusiastic hobbyists, students and tea

[2021-09-18 20:39] notpushkin opened #345 "More flag extras"
First of all, thanks for great work on this project folks!

I've wanted to propose adding a couple more flags if you'll be up to it. The first set is based on

<img src="https://openmoji.org/data/color/svg/1F3F4-FE0F-200D-1F170-FE0F.svg" width="24" align="top" /> [Red and black flag](https://openmoji.org/library/#group=extras-openmoji&emoji=1F3F4-FE0F-200D-1F170-FE0F) (🏴 • `VS16` • `ZWJ` • :a: • `

[2021-09-18 21:44] notpushkin commented on #345
Another idea: Sergey Chikin has published [free icons for some Russian cities](http://sergeychikin.ru/icons/) which might be a good basis for some subdivision flags (see also: [ISO 3166-2:RU](https://en.wikipedia.org/wiki/ISO_3166-2:RU)).

[2021-09-24 09:03] dnlutz commented on #344
Emoji v14.0 To Do List

Details: https://www.unicode.org/emoji/charts-14.0/emoji-released.html

- [ ] 1FAE0 Melting Face
- [ ] 1FAE2 Face with Open Eyes and Hand Over Mouth
- [ ] 1FAE3 Face with Peeking Eye
- [ ] 1FAE1 Saluting Face
- [ ] 1FAE5 Dotted Line Face
- [ ] 1FAE4 Face with Diagonal Mouth
- [ ] 1F979 Face Holding Back Tears
- [ ] 1FAF1 Rightwards Hand
- [ ] 1FAF2 Leftwards Hand
- [ ] 1FAF

[2021-09-27 12:39] loominade opened #347 "QR code icon"
Just a generic icon for qr codes:

![QR code](https://user-images.githubusercontent.com/11677380/134909455-ae6225b0-6feb-4dda-bb1a-81f5dbe08a98.png)

[2021-10-04 01:16] lizbravob commented on #344
Let's begin! :)

[v14_lb.zip](https://github.com/hfg-gmuend/openmoji/files/7274901/v14_lb.zip)

[2021-10-05 06:14] b-g commented on #344
Yay!!! Thanks for the great start!

Looks good to me! @dnlutz more detailed feedback?

<img width="981" alt="Screen Shot 2021-10-05 at 08 12 58" src="https://user-images.githubusercontent.com/480224/135970050-61b833b0-2024-4f27-9884-e4f0ecb0129c.png">

[2021-10-05 07:49] dnlutz commented on #344
1F979 i would suggest to delete the moon like white lines in the left of the eyes
1FAE2 would you try a less organic and more geometric hand?
1FAE5 just a little bit more space between the eyes and the mouth?
1FAE0 / 1FAE5 ¡perfecto!
thank you for the nice start and many greetings!

[2021-10-05 13:55] b-g commented on #347
Hi @loominade! Many thanks for this! Looks super! Also: super neat detail that the OpenMoji for QR codes encodes also a web search for "openmoji"! 😂

Could you please provide a PR?

[2021-10-05 13:57] #331 closed

[2021-10-05 14:00] b-g commented on #332
I'm afraid but the fonts are experimental and not intended for production, see discussion https://github.com/hfg-gmuend/openmoji/issues/93 for updates.

[2021-10-05 14:00] #332 closed

[2021-10-05 14:04] b-g commented on #337
Added to https://github.com/hfg-gmuend/openmoji/wiki/Backlog-and-Wishlist ... but very unclear when and if this comes. Sorry! This is just nice to have and a bit out of scope.

[2021-10-05 14:04] #337 closed

[2021-10-05 14:05] b-g commented on #339
Closed as discussed in #340 Sorry!

[2021-10-05 14:06] kevincox commented on #339
Sorry why is this closed? This is a bug with the generated TTF files and is still an issue even if you don't want to edit the source SVG.

[2021-10-05 14:09] b-g commented on #341
Hi @Cyrille37, many thanks for reporting! Just there is nothing we can do about this ... we simply link to this database and hope that there is definition for the particular unicode. But you could write the https://decodeunicode.org project and let them know. I'm sure they appreciate any hints for missing unicode code points on their end.

[2021-10-05 14:09] #341 closed

[2021-10-05 14:14] b-g commented on #97
Closing due to inactivity

[2021-10-05 14:14] #97 closed

[2021-10-05 14:17] b-g commented on #135
Closing due to inactivity, the issue seems to be too big to tackle.

[2021-10-05 14:17] #135 closed

[2021-10-05 14:19] b-g commented on #205
Closing, seems to be discussed and all related actionable tasks done.

[2021-10-05 14:19] #205 closed

[2021-10-05 14:24] #150 closed

[2021-10-05 14:25] b-g commented on #146
Closing due to inactivity, added to backlog.

[2021-10-05 14:25] #146 closed

[2021-10-05 14:29] Cyrille37 commented on #341
Hi
I'm afraid that nobody left behind decodeunicode.org ...

I sent a email and get answer "Your message to <poarangan@decodeunicode.org> was automatically rejected:
Quota exceeded (mailbox for user is full)" that means no one read emails ...

[2021-10-05 14:31] b-g commented on #240
Closing due to inactivity, added to backlog.

[2021-10-05 14:31] #240 closed

[2021-10-05 14:35] #324 closed

[2021-10-05 14:36] b-g commented on #322
Closing due to inactivity

[2021-10-05 14:36] #322 closed

[2021-10-05 14:38] b-g commented on #311
Closing due to inactivity. It seems we agreed not to "emojify" hieroglyphs as too difficult. Please re-open if I understood something wrong.

[2021-10-05 14:38] #311 closed

[2021-10-05 14:39] b-g commented on #290
Closing due to inactivity

[2021-10-05 14:39] #290 closed

[2021-10-05 14:40] b-g commented on #276
Closing due to inactivity. @fuddl please re-open if this is still of interest of yours.

[2021-10-05 14:40] #276 closed

[2021-10-05 14:43] b-g commented on #308
Closing. Solved with https://openmoji.org/library/#emoji=1F3F7

[2021-10-05 14:43] #308 closed

[2021-10-05 15:02] b-g commented on #341
I'm sorry about this. Maybe this is just temporarily? Maybe try in a few days?

[2021-10-05 15:34] kevincox commented on #339
The `openmoji.css` only affects users who are using a browser and using that style. It won't help system-font usage or other cases.

Well you have a copy of the built font file in your repo so it seems that you are taking some responsibility for the generation. The argument would make sense if the project was just the SVG files but it seems like it is also maintaining a build process for fonts usi

[2021-10-06 11:45] b-g commented on #339
Re-opened: https://github.com/hfg-gmuend/openmoji/pull/340#issuecomment-936074516

[2021-10-06 11:47] b-g commented on #339
@kevincox ok. Can you think of a more descriptive name for the issue? e.g.

Problems with SVG default color in font files?

[2021-10-06 13:45] kevincox commented on #339
I'm not sure this is completely accurate either because my fix didn't completely solve the problem. How about "Some black elements in SVG sources are being rendered with current font colour in TTF font?"

[2021-10-10 03:50] jxmnhm opened #349 "Is there a zip file of images with direct English names?"
The diagrams downloaded locally are named with unicode codes, which is not convenient for local retrieval. Is there a zip file named directly in English?

[2021-10-10 12:28] carlinmack commented on #349
you can find the mappings from unicode -> english name in the [data](https://github.com/hfg-gmuend/openmoji/tree/master/data) directory in CSV and JSON format. You could also use the upstream [emojibase](https://emojibase.dev) or [unicode](https://unicode.org/Public/emoji/14.0/) data files.

Using the files that are most convinient, it should be fairly easy to create a script to rename the files.

[2021-10-15 07:30] fuddl commented on #344
![Biting Lip](https://user-images.githubusercontent.com/842548/137449107-6a71f87f-81af-43f0-8804-f91bc7be4a09.png)

[2021-10-15 13:18] waldenn opened #350 "Is it possible to change the black-icon color via CSS?"
Hi, first of all thank you for a great icon library, I use it with together with FontAwesome in my https://conze.pt encyclopedia project.

I would like to change the black stroke color using CSS upon hover. This works for FontAwesome, but not OpenMoji.

Any idea why this is and if it can be fixed / worked around? Thanks.

[2021-10-16 09:45] fuddl commented on #350
We need _OpenmojiMonochrome_ more than anyone needs _OpenmojiBlack_. I through it’s the easier thing to to. I have generated lots of monochrome fronts from svg files and there are libraries for that. But, correct me if I’m wrong, all shapes would need to be merged to a compound path and even before that, strokes need to be converted to outlines. I guess this is the difficult part.

[2021-10-16 22:09] lolbot-iichan opened #351 "Regional Indicator Symbol Letter A-Z emoji missing"
There are 26 emojis missing with codepoints U+1F1E6~U+1F1FF (🇦 ~ 🇿).

Option 1:

Some fonts are rendering them as capital letters in some kind of frame (Twitter, Facebook, JoyPixels, Emojidex, Softbank, EmojiTwo, Symbola). See:
https://www.emojiall.com/en/emoji/%F0%9F%87%B5
https://www.emojiall.com/en/emoji/3%EF%B8%8F%E2%83%A3
https://emojipedia.org/regional-indicator-symbol-letter-p/
https://emoj

[2021-10-18 09:05] FlyingJapa opened #352 "Attribution on YouTube Video question"
Hi guys!
Congratulations for the great work and emojis!

I'm making an YouTube video and would like to use some in it, and potentially continue using them in future ones.

I have a question about how to give proper attributions and credits to you.

My confusion is that in the FAQ it mentions TWO attributions for videos:

**How to attribute OpenMoji in a film / video / youtube clip?**

- Add the su

[2021-10-18 10:30] fuddl opened #353 "Non-Standard 'People' emoji have no skin tones"
Like the gardener, the person with medical mask or the barista.

At first I thought, that simply every svg with a `skin` layer should automatically have all the skintones but specific people like _Greta Thunberg_ and _trump_ need to be excluded.

[2021-10-18 15:40] b-g commented on #353
Hi @fuddl, yes having skintones for every person would be nice!

However the effort to implement this would be rather enormous, 1. as we would have to extend/change our current build system and 2. in addition we have a hard dependency towards emojibase-data for all the Emoji Unicode definitions. Currently we create only skintones according to the official Unicode definitions ...

And as we have so

[2021-10-18 16:42] fuddl commented on #345
How about using `◪` for the sequences that represent a diagonal split?

[2021-10-19 22:32] kevincox commented on #350
This sounds good for the openmoji-black. However we should do the opposite for the openmoji-color set and ensure that they are black no matter what the font color is otherwise they look very bad and are hard to read.

[2021-10-20 12:24] dnlutz commented on #351
should we place the letters in squares? we could store them in the [unicode block "enclosed alphanumeric supplement"](https://en.wikipedia.org/wiki/Enclosed_Alphanumeric_Supplement).
the openmoji font is monospaced and all the glyphs in it have the same width.
so we can't include flags. but the [squares](https://openmoji.org/library/#group=symbols%2Falphanum) would be simple and pragmatic?

[2021-10-20 13:07] fuddl commented on #351
Regional indicators are within the _Enclosed Alphanumeric Supplement_ block. I didn’t mean to say the regional indicators should have a different aspect ratio: Only the enclosing element should be flag shaped.

[2021-10-20 13:36] #353 closed, assigned to nobody

[2021-10-28 06:59] cyberalien opened #356 "Annotations have disappeared"
In one of commits done this week, annotations for hundreds of emojis have disappeared from `data/openmoji.*` files. As far as I can tell, it mostly applies to emojis from `extras-openmoji` and `extras-unicode` groups.

Looks like this commit caused it: https://github.com/hfg-gmuend/openmoji/commit/8fb158f880776fb5067187ba090f40dc55361d07

[2021-10-28 08:22] #356 closed, assigned to nobody

[2021-10-29 19:15] fuddl opened #357 "HAL9000"
Do you like it? Should I commit?

<img width="281" alt="HAL9000" src="https://user-images.githubusercontent.com/842548/139489697-bd0ccfbc-597d-409a-87fc-12c3aa68d6d3.png"><img width="140.5" alt="HAL9000" src="https://user-images.githubusercontent.com/842548/139489697-bd0ccfbc-597d-409a-87fc-12c3aa68d6d3.png"><img width="70.25" alt="HAL9000" src="https://user-images.githubusercontent.com/842548/139